In [1]:
import pandas as pd
import plotly.plotly as py
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('source/tareasytickets.csv')
original = pd.read_csv('source/tareasytickets.csv')
df.head()

/home/miguel/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning:

Columns (2,24,29,205,221) have mixed types. Specify dtype option on import or set low_memory=False.

,NROFAVE,CODCLI,CODART,CODPP,CODOPE,CANVEN,CANOPE,CANOPESE,CANOPESEA,COSTOOPE,...,STATUSBT,STATUSDT,OBSTT,CHECKTT,FECHA,HORA,USUARIO,EQUIPO,MAC,IDFAVE
0,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,0.0,0.0,400.0,...,1,1,Fecha:29/01/2016\nHora:16:46:00\nUsuario:\nNom...,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
1,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,0.0,0.0,1400.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
2,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,0.0,0.0,450.0,...,1,1,Fecha:29/01/2016\nHora:18:29:31\nUsuario:\nNom...,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
3,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,0.0,0.0,1200.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
4,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,0.0,0.0,200.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162

## Análisis de Columnas

In [2]:
# Profundidad de las filas
a,b = 0,10

# Decodificacion de Columnas
CODCLI = 'Codigo de Cliente'
CODART = 'Codigo de Articulo'
CODPP  = 'Codigo Procesos de Produccion'
CODOPE = 'Codigo de Procesos'
CANVEN = 'Cantidad Pedido'
CANOPESE = 'Cantidad Operaciones Sin Elaborar'
CANOPE = 'Cantidad Operaciones'
CANOPESEA = 'Cantidad Operaciones sin Elaborar Alta'
COSTOOPE = 'Costo Operacion Cuando se Crea'
COSTOOPEC = 'Costo Operacion'
TICKET = 'Codigo de Barras Ticket'
NROORDP = 'Numero de Pedido'
NROINV = 'Numero de Plantilla o Lote'
FECINV = 'Fecha Plantilla'
NROPLA = 'Numero de Planificacion'
FECPLA = 'Fecha Planificacion'
FECHATICK = 'Fecha cuando se guarda el Ticket'
HORATICK = 'Hora cuando se guarda el Ticket'
CODPER = 'Codigo Personal'
FECHAITT = 'Fecha Inicio Tarea'
HORAFTT = 'Hora Fin Tarea'
CODOPEPTT = 'Codigo de Operacion Parada'
FECHAPTT = 'Fecha Tarea Parada'
HORAPTT = 'Hora Tarea Parada'
STATUSN = 'Estado Nomina'
FECHAIOPE = 'Fecha Inicio Operacion'
HORAIOPE = 'Horario Inicio Operacion'
FECHAFOPE = 'Fecha Fin Operacion'
HORAFOPE = 'Hora Fin Operacion'
NROFACT = 'Numero Factura'
FECFACT = 'Fecha Factura'
STATUSF = 'Estado si es 0 se facturo todo'
CANTICKIMP = 'Cantidad Tickets Impresos'
FECTICKIMP = 'Fecha cuando se imprime el Ticket'
DESNMAT1 = 'Nota Material 1'
FECHA = 'Fecha'
HORA = 'Hora'
IDFAVE = 'Id del Articulo Detalle de Ventas'

leyendas = [CODCLI ,CODART ,CODPP  ,CODOPE ,CANVEN ,CANOPESE ,CANOPE ,CANOPESEA ,COSTOOPE ,COSTOOPEC ,TICKET ,NROORDP ,NROINV ,FECINV ,NROPLA ,FECPLA ,FECHATICK ,HORATICK ,CODPER ,FECHAITT ,HORAFTT ,CODOPEPTT ,FECHAPTT ,HORAPTT ,STATUSN ,FECHAIOPE ,HORAIOPE ,FECHAFOPE ,HORAFOPE ,NROFACT ,FECFACT ,STATUSF ,CANTICKIMP ,FECTICKIMP ,DESNMAT1 ,FECHA ,HORA ,IDFAVE]
leyendas_index = ['CODCLI' ,'CODART','CODPP','CODOPE','CANVEN','CANOPESE','CANOPE','CANOPESEA','COSTOOPE','COSTOOPEC','TICKET','NROORDP','NROINV','FECINV','NROPLA','FECPLA','FECHATICK','HORATICK','CODPER','FECHAITT','HORAFTT','CODOPEPTT','FECHAPTT','HORAPTT','STATUSN','FECHAIOPE','HORAIOPE','FECHAFOPE','HORAFOPE','NROFACT','FECFACT','STATUSF','CANTICKIMP','FECTICKIMP','DESNMAT1','FECHA','HORA','IDFAVE']
leyendas_df = pd.DataFrame(leyendas, index=leyendas_index , columns=['Leyenda'])

In [112]:
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [3]:
df.iloc[a:b,:10]

,NROFAVE,CODCLI,CODART,CODPP,CODOPE,CANVEN,CANOPE,CANOPESE,CANOPESEA,COSTOOPE
0,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,0.0,0.0,400.0
1,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,0.0,0.0,1400.0
2,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,0.0,0.0,450.0
3,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,0.0,0.0,1200.0
4,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,0.0,0.0,200.0
5,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,ESTAMPADO,12.0,12.0,0.0,0.0,200.0
6,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,SELLOS,12.0,12.0,0.0,0.0,0.0
7,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,12.0,12.0,0.0,0.0,500.0
8,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,PLANTILLAS,12.0,12.0,0.0,0.0,0.0
9,PE00000001,057,20614801010,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,0.0,0.0,400.0

**Columnas Relevantes: **
CODCLI, CODPP, CODOPE, CANVEN, CANOPE, COSTOOPE

In [4]:
df.iloc[a:b,10:20]

,COSTOOPEC,TICKET,NROORDP,NROINV,FECINV,NROPLA,FECPLA,NROTICK,NROTICKC,FECHATICK
0,400.0,10003201001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
1,1400.0,10003202001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
2,450.0,10003203001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
3,1200.0,10003204001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
4,200.0,10003205001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
5,200.0,10003206001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
6,0.0,10003207001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
7,500.0,10003208001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
8,0.0,10003209001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
9,400.0,10003201002,0,0,2008-01-01,0,2008-01-01,2,2,2016-01-25

**Columnas Relevantes: **
COSTOOPEC, TICKET, NROTICK, FECHATICK

+ ¿Qué diferencia hay entre TICKET y NROTICKC?
+ ¿Porqué FECINV, FECPLA es diferente de FECHATICK?

In [5]:
df.iloc[a:b,20:30]

,HORATICK,CODPER,FECHAITT,HORAITT,USUARIOITT,EQUIPOITT,MACITT,FECHAFTT,HORAFTT,USUARIOFTT
0,11:04:13,G-02,2008-01-01,NaN,NaN,NaN,NaN,2016-01-29,16:48:41,NaN
1,11:04:13,012,2008-01-01,NaN,NaN,NaN,NaN,2016-01-29,13:41:54,NaN
2,11:04:13,005,2008-01-01,NaN,NaN,NaN,NaN,2016-01-29,18:29:57,NaN
3,11:04:13,002,2016-01-29,18:46:26,NaN,Servidor-PC,NaN,2016-01-29,18:47:44,NaN
4,11:04:13,003,2016-01-29,17:18:21,NaN,Servidor-PC,NaN,2016-01-30,12:33:02,NaN
5,11:04:13,NaN,2008-01-01,NaN,NaN,NaN,NaN,2008-01-01,NaN,NaN
6,11:04:13,NaN,2008-01-01,NaN,NaN,NaN,NaN,2008-01-01,NaN,NaN
7,11:04:13,13717511,2008-01-01,NaN,NaN,NaN,NaN,2016-01-28,17:40:16,2015
8,11:04:13,NaN,2008-01-01,NaN,NaN,NaN,NaN,2008-01-01,NaN,NaN
9,11:04:16,G-02,2008-01-01,NaN,NaN,NaN,NaN,2016-01-29,16:49:17,NaN

**Columnas Relevantes: **
HORATICK, FECHAITT, HORAITT, FECHAFTT, HORAFTT

+ ¿Qué es CODPER, ITT?
+ ¿Porqué el salto tan abrupto en FECHAFTT?

In [6]:
df.iloc[a:b,30:40]

,EQUIPOFTT,MACFTT,CODOPEPTT,FECHAPTT,HORAPTT,STATUSN,NRONOMI,FECHAIOPE,HORAIOPE,FECHAFOPE
0,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,21,2016-01-28,17:40:16,2016-01-29
1,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,11,2016-01-28,17:40:16,2016-01-29
2,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,9,2016-01-28,17:40:16,2016-01-29
3,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,5,2016-01-28,17:40:16,2016-01-29
4,Servidor-PC,NaN,CORTADO,2016-01-30,12:33:02,2,15,2016-01-28,17:40:16,2016-01-29
5,NaN,NaN,NaN,2008-01-01,NaN,1,0,2016-01-28,17:40:16,2016-01-29
6,NaN,NaN,NaN,2008-01-01,NaN,1,0,2016-01-28,17:40:16,2016-01-29
7,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,4,2016-01-28,17:40:16,2016-01-29
8,NaN,NaN,NaN,2008-01-01,NaN,1,0,2016-01-28,17:40:16,2016-01-29
9,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,21,2016-01-28,17:40:11,2016-01-29

**Columnas Relevantes: **
FECHAIOPE, HORAIOPE, FECHAFOPE

+ ¿Qué es PTT?
+ ¿Porqué sólo hay un registro en HORAPTT?

In [7]:
df.iloc[a:b,40:50]

,HORAFOPE,NROFACT,FECFACT,STATUSF,CANTICKIMP,FECTICKIMP,FECRTICKIMP,IDPROTICKETS,TALLA00,TALLA01
0,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,1,0,0
1,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,2,0,0
2,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,3,0,0
3,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,4,0,0
4,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,5,0,0
5,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,6,0,0
6,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,7,0,0
7,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,8,0,0
8,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,9,0,0
9,16:49:17,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,10,0,0

**Columnas Relevantes: **
HORAFOPE, IDPROTICKETS

+ ¿Porqué FECFACT, FECRTICKIMP tiene un registro tan antiguo?
+ ¿Porqué FECINV, FECPLA es diferente de FECHATICK?

In [8]:
df.iloc[a:b,50:60]

,TALLA02,TALLA03,TALLA04,TALLA05,TALLA06,TALLA07,TALLA08,TALLA09,TALLA10,TALLA11
0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0

In [9]:
df.iloc[a:b,60:70]

,TALLA12,TALLA13,TALLA14,TALLA15,TALLA16,TALLA17,TALLA18,TALLA19,TALLA20,TALLA21
0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0

In [10]:
df.iloc[a:b,70:80]

,TALLA22,TALLA23,TALLA24,TALLA25,TALLA26,TALLA27,TALLA28,TALLA29,TALLA30,TALLA31
0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0

In [11]:
df.iloc[a:b,90:100]

,TALLA42,TALLA43,TALLA44,TALLA45,TALLA46,TALLA47,TALLA48,TALLA49,TALLA50,TALLA51
0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0

In [12]:
df.iloc[a:b,100:110]

,TALLA52,TALLA53,TALLA54,TALLA55,TALLA56,CODART1,CANART1,CODART2,CANART2,CODART3
0,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
1,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
2,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
3,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
4,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
5,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
6,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
7,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
8,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
9,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN

In [13]:
df.iloc[a:b,110:120]

,CANART3,CODART4,CANART4,CODART5,CANART5,CODART6,CANART6,CODART7,CANART7,CODART8
0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
1,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
2,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
3,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
4,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
5,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
6,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
7,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
8,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
9,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN

In [14]:
df.iloc[a:b,120:130]

,CANART8,CODART9,CANART9,CODART10,CANART10,CODART11,CANART11,CODART12,CANART12,CODART13
0,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN
1,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN
2,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN
3,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN
4,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN
5,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
6,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
7,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN
8,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
9,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN

In [15]:
df.iloc[a:b,130:140]

,CANART13,CODART14,CANART14,CODART15,CANART15,CODART16,CANART16,CODART17,CANART17,CODART18
0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
1,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
2,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
3,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
4,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
5,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
6,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
7,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
8,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
9,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN

In [16]:
df.iloc[a:b,140:150]

,CANART18,CODART19,CANART19,CODART20,CANART20,TALLAISB1,TALLAISB2,TALLAISB3,TALLAISB4,TALLAISB5
0,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
1,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
2,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
3,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
4,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
5,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
6,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
7,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
8,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
9,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1

In [17]:
df.iloc[a:b,150:160]

,TALLAISB6,TALLAISB7,TALLAISB8,TALLAISB9,TALLAISB10,TALLAISB11,TALLAISB12,TALLAISB13,TALLAISB14,TALLAISB15
0,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1
5,1,1,1,1,1,1,1,1,1,1
6,1,1,1,1,1,1,1,1,1,1
7,1,1,1,1,1,1,1,1,1,1
8,1,1,1,1,1,1,1,1,1,1
9,1,1,1,1,1,1,1,1,1,1

In [18]:
df.iloc[a:b,160:170]

,TALLAISB16,TALLAISB17,TALLAISB18,TALLAISB19,TALLAISB20,PARTES1,PARTES2,PARTES3,PARTES4,PARTES5
0,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
2,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
3,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
4,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
5,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
6,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
7,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
8,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
9,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN

In [19]:
df.iloc[a:b,170:180]

,PARTES6,PARTES7,PARTES8,PARTES9,PARTES10,PARTES11,PARTES12,PARTES13,PARTES14,PARTES15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df.iloc[a:b,180:190]

,PARTES16,PARTES17,PARTES18,PARTES19,PARTES20,PARTESP1,PARTESP2,PARTESP3,PARTESP4,PARTESP5
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df.iloc[a:b,190:200]

,PARTESP6,PARTESP7,PARTESP8,PARTESP9,PARTESP10,PARTESP11,PARTESP12,PARTESP13,PARTESP14,PARTESP15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df.iloc[a:b,200:210]

,PARTESP16,PARTESP17,PARTESP18,PARTESP19,PARTESP20,DESNMAT1,DESNMAT2,DESNMAT3,DESNMAT4,MATERIALES
0,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN

In [23]:
df.iloc[a:b,210:220]

,DESSER,DESDA,DESOPE,STATUSPT,STATUSTA,STATUSBT,STATUSDT,OBSTT,CHECKTT,FECHA
0,NaN,NaN,NaN,1,1,1,1,Fecha:29/01/2016\nHora:16:46:00\nUsuario:\nNom...,0,2016-01-25
1,NaN,NaN,NaN,1,1,1,1,NaN,0,2016-01-25
2,NaN,NaN,NaN,1,1,1,1,Fecha:29/01/2016\nHora:18:29:31\nUsuario:\nNom...,0,2016-01-25
3,NaN,NaN,NaN,1,1,1,1,NaN,0,2016-01-25
4,NaN,NaN,NaN,1,1,1,1,NaN,0,2016-01-25
5,NaN,NaN,NaN,1,0,1,1,NaN,0,2016-01-25
6,NaN,NaN,NaN,1,0,1,1,NaN,0,2016-01-25
7,NaN,NaN,NaN,1,1,1,1,NaN,0,2016-01-25
8,NaN,NaN,NaN,1,0,1,1,NaN,0,2016-01-25
9,NaN,NaN,NaN,1,1,1,1,Fecha:29/01/2016\nHora:16:46:29\nUsuario:\nNom...,0,2016-01-25

In [24]:
df.iloc[a:b,220:225]

,HORA,USUARIO,EQUIPO,MAC,IDFAVE
0,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
1,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
2,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
3,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
4,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
5,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
6,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
7,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
8,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
9,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",163

In [25]:
df.iloc[:30,:]

,NROFAVE,CODCLI,CODART,CODPP,CODOPE,CANVEN,CANOPE,CANOPESE,CANOPESEA,COSTOOPE,...,STATUSBT,STATUSDT,OBSTT,CHECKTT,FECHA,HORA,USUARIO,EQUIPO,MAC,IDFAVE
0,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,0.0,0.0,400.0,...,1,1,Fecha:29/01/2016\nHora:16:46:00\nUsuario:\nNom...,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
1,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,0.0,0.0,1400.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
2,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,0.0,0.0,450.0,...,1,1,Fecha:29/01/2016\nHora:18:29:31\nUsuario:\nNom...,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
3,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,0.0,0.0,1200.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
4,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,0.0,0.0,200.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
5,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,ESTAMPADO,12.0,12.0,0.0,0.0,200.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
6,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,SELLOS,12.0,12.0,0.0,0.0,0.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
7,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,12.0,12.0,0.0,0.0,500.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
8,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,PLANTILLAS,12.0,12.0,0.0,0.0,0.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
9,PE00000001,057,20614801010,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,0.0,0.0,400.0,...,1,1,Fecha:29/01/2016\nHora:16:46:29\nUsuario:\nNom...,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",163
10,PE00000001,057,20614801010,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,0.0,0.0,1400.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",163
11,PE00000001,057,20614801010,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,0.0,0.0,450.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",163
12,PE00000001,057,20614801010,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,0.0,0.0,1200.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",163
13,PE00000001,057,20614801010,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,0.0,0.0,200.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",163
14,PE00000001,057,20614801010,CANOA CONFORT AL CORTE,ESTAMPADO,12.0,12.0,0.0,0.0,200.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",163
15,PE00000001,057,20614801010,CANOA CONFORT AL CORTE,SELLOS,12.0,12.0,0.0,0.0,0.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",163
16,PE00000001,057,20614801010,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,12.0,12.0,0.0,0.0,500.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",163
17,PE00000001,057,20614801010,CANOA CONFORT AL CORTE,PLANTILLAS,12.0,12.0,0.0,0.0,0.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",163
18,PE00000001,057,20613301010,CANOA CONFORT AL CORTE,EMPLANTILLADO,10.0,10.0,0.0,0.0,400.0,...,1,1,Fecha:29/01/2016\nHora:16:42:48\nUsuario:\nNom...,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",164
19,PE00000001,057,20613301010,CANOA CONFORT AL CORTE,MONTADOR,10.0,10.0,0.0,0.0,1400.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",164
20,PE00000001,057,20613301010,CANOA CONFORT AL CORTE,COSTURA,10.0,10.0,0.0,0.0,450.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",164
21,PE00000001,057,20613301010,CANOA CONFORT AL CORTE,ARMADO,10.0,10.0,0.0,0.0,1200.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",164
22,PE00000001,057,20613301010,CANOA CONFORT AL CORTE,CORTADO,10.0,10.0,0.0,0.0,200.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",164
23,PE00000001,057,20613301010,CANOA CONFORT AL CORTE,ESTAMPADO,10.0,10.0,0.0,0.0,200.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",164
24,PE00000001,057,20613301010,CANOA CONFORT AL CORTE,SELLOS,10.0,10.0,0.0,0.0,0.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",164
25,PE00000001,057,20613301010,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,10.0,10.0,0.0,0.0,500.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",164
26,PE00000001,057,20613301010,CANOA CONFORT AL CORTE,PLANTILLAS,10.0,10.0,0.0,0.0,0.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",164
27,PE00000002,154,20610501010,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,0.0,0.0,400.0,...,1,1,Fecha:29/01/2016\nHora:16:44:42\nUsuario:\nNom...,0,2016-01-25,11:04:32,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",165
28,PE00000002,154,20610501010,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,0.0,0.0,1400.0,...,1,1,NaN,0,2016-01-25,11:04:32,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",165
29,PE00000002,154,20610501010,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,0.0,0.0,450.0,...,1,1,NaN,0,2016-01-25,11:04:32,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",165

**Columnas Relevantes: **
HORA

+ ¿Hay registros en USUARIO?

## Filtramos Columnas más Relevantes

In [26]:
relevantes = ['NROFAVE','CODCLI', 'CODPP', 'CODOPE', 'CANVEN', 'CANOPE', 'COSTOOPE', 'COSTOOPEC', 'TICKET', 'NROTICKC', 'FECHATICK', 'HORATICK', 'FECHAITT', 'HORAITT', 'FECHAFTT', 'HORAFTT', 'FECHAIOPE', 'HORAIOPE', 'FECHAFOPE', 'HORAFOPE', 'IDPROTICKETS', 'FECHA', 'HORA']
df = df[relevantes]
df.iloc[:10,:].head()

,NROFAVE,CODCLI,CODPP,CODOPE,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,NROTICKC,...,HORAITT,FECHAFTT,HORAFTT,FECHAIOPE,HORAIOPE,FECHAFOPE,HORAFOPE,IDPROTICKETS,FECHA,HORA
0,PE00000001,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003201001,1,...,NaN,2016-01-29,16:48:41,2016-01-28,17:40:16,2016-01-29,16:48:41,1,2016-01-25,11:04:00
1,PE00000001,057,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,1400.0,1400.0,10003202001,1,...,NaN,2016-01-29,13:41:54,2016-01-28,17:40:16,2016-01-29,16:48:41,2,2016-01-25,11:04:00
2,PE00000001,057,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,450.0,450.0,10003203001,1,...,NaN,2016-01-29,18:29:57,2016-01-28,17:40:16,2016-01-29,16:48:41,3,2016-01-25,11:04:00
3,PE00000001,057,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,1200.0,1200.0,10003204001,1,...,18:46:26,2016-01-29,18:47:44,2016-01-28,17:40:16,2016-01-29,16:48:41,4,2016-01-25,11:04:00
4,PE00000001,057,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,200.0,200.0,10003205001,1,...,17:18:21,2016-01-30,12:33:02,2016-01-28,17:40:16,2016-01-29,16:48:41,5,2016-01-25,11:04:00

### Buscamos Columnas que contengan Hora o Fecha

Con la esperanza de encontrar algún patrón adicional

In [27]:
original.loc[:,original.columns.str.contains("HORA|FECHA")].head()

,FECHATICK,HORATICK,FECHAITT,HORAITT,FECHAFTT,HORAFTT,FECHAPTT,HORAPTT,FECHAIOPE,HORAIOPE,FECHAFOPE,HORAFOPE,FECHA,HORA
0,2016-01-25,11:04:13,2008-01-01,NaN,2016-01-29,16:48:41,2008-01-01,NaN,2016-01-28,17:40:16,2016-01-29,16:48:41,2016-01-25,11:04:00
1,2016-01-25,11:04:13,2008-01-01,NaN,2016-01-29,13:41:54,2008-01-01,NaN,2016-01-28,17:40:16,2016-01-29,16:48:41,2016-01-25,11:04:00
2,2016-01-25,11:04:13,2008-01-01,NaN,2016-01-29,18:29:57,2008-01-01,NaN,2016-01-28,17:40:16,2016-01-29,16:48:41,2016-01-25,11:04:00
3,2016-01-25,11:04:13,2016-01-29,18:46:26,2016-01-29,18:47:44,2008-01-01,NaN,2016-01-28,17:40:16,2016-01-29,16:48:41,2016-01-25,11:04:00
4,2016-01-25,11:04:13,2016-01-29,17:18:21,2016-01-30,12:33:02,2016-01-30,12:33:02,2016-01-28,17:40:16,2016-01-29,16:48:41,2016-01-25,11:04:00

In [28]:
def plot_time_line(df,title,x_axis,y_axis):

    data = [go.Scatter(
              x=df.index,
              y=df['COSTOOPE'])]
    
    layout = go.Layout(
        title=title,
        xaxis=dict(
            title=x_axis,
            titlefont=dict(
                family='Courier New, monospace',
                size=18,
                color='#7f7f7f'
            )
        ),
        yaxis=dict(
            title=y_axis,
            titlefont=dict(
                family='Courier New, monospace',
                size=18,
                color='#7f7f7f'
            )
        )
    )
    fig = go.Figure(data=data, layout=layout)
    return py.iplot(fig, filename=title)

In [29]:
def plot_time_line_two(df,df_,title,x_axis,y_axis):

    trace1 = go.Scatter(
        x=df.index,
        y=df['COSTOOPE'],
        name='2016'
    )
    trace2 = go.Scatter(
        x=df_.index,
        y=df_['COSTOOPE'],
        name='2017'
    )
    data = [trace1, trace2]
    
    layout = go.Layout(
        title=title,
        xaxis=dict(
            title=x_axis,
            titlefont=dict(
                family='Courier New, monospace',
                size=18,
                color='#7f7f7f'
            )
        ),
        yaxis=dict(
            title=y_axis,
            titlefont=dict(
                family='Courier New, monospace',
                size=18,
                color='#7f7f7f'
            )
        )
    )
    fig = go.Figure(data=data, layout=layout)
    return py.iplot(fig, filename=title)

### Convertimos los formatos de Fecha y Hora

In [30]:
df['TIMESTAMP'] = pd.to_datetime(df['FECHA'] + ' ' + df['HORA'])
df

,NROFAVE,CODCLI,CODPP,CODOPE,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,NROTICKC,...,FECHAFTT,HORAFTT,FECHAIOPE,HORAIOPE,FECHAFOPE,HORAFOPE,IDPROTICKETS,FECHA,HORA,TIMESTAMP
0,PE00000001,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003201001,1,...,2016-01-29,16:48:41,2016-01-28,17:40:16,2016-01-29,16:48:41,1,2016-01-25,11:04:00,2016-01-25 11:04:00
1,PE00000001,057,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,1400.0,1400.0,10003202001,1,...,2016-01-29,13:41:54,2016-01-28,17:40:16,2016-01-29,16:48:41,2,2016-01-25,11:04:00,2016-01-25 11:04:00
2,PE00000001,057,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,450.0,450.0,10003203001,1,...,2016-01-29,18:29:57,2016-01-28,17:40:16,2016-01-29,16:48:41,3,2016-01-25,11:04:00,2016-01-25 11:04:00
3,PE00000001,057,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,1200.0,1200.0,10003204001,1,...,2016-01-29,18:47:44,2016-01-28,17:40:16,2016-01-29,16:48:41,4,2016-01-25,11:04:00,2016-01-25 11:04:00
4,PE00000001,057,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,200.0,200.0,10003205001,1,...,2016-01-30,12:33:02,2016-01-28,17:40:16,2016-01-29,16:48:41,5,2016-01-25,11:04:00,2016-01-25 11:04:00
5,PE00000001,057,CANOA CONFORT AL CORTE,ESTAMPADO,12.0,12.0,200.0,200.0,10003206001,1,...,2008-01-01,NaN,2016-01-28,17:40:16,2016-01-29,16:48:41,6,2016-01-25,11:04:00,2016-01-25 11:04:00
6,PE00000001,057,CANOA CONFORT AL CORTE,SELLOS,12.0,12.0,0.0,0.0,10003207001,1,...,2008-01-01,NaN,2016-01-28,17:40:16,2016-01-29,16:48:41,7,2016-01-25,11:04:00,2016-01-25 11:04:00
7,PE00000001,057,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,12.0,12.0,500.0,500.0,10003208001,1,...,2016-01-28,17:40:16,2016-01-28,17:40:16,2016-01-29,16:48:41,8,2016-01-25,11:04:00,2016-01-25 11:04:00
8,PE00000001,057,CANOA CONFORT AL CORTE,PLANTILLAS,12.0,12.0,0.0,0.0,10003209001,1,...,2008-01-01,NaN,2016-01-28,17:40:16,2016-01-29,16:48:41,9,2016-01-25,11:04:00,2016-01-25 11:04:00
9,PE00000001,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003201002,2,...,2016-01-29,16:49:17,2016-01-28,17:40:11,2016-01-29,16:49:17,10,2016-01-25,11:04:00,2016-01-25 11:04:00
10,PE00000001,057,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,1400.0,1400.0,10003202002,2,...,2016-01-29,14:00:02,2016-01-28,17:40:11,2016-01-29,16:49:17,11,2016-01-25,11:04:00,2016-01-25 11:04:00
11,PE00000001,057,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,450.0,450.0,10003203002,2,...,2016-01-29,18:29:43,2016-01-28,17:40:11,2016-01-29,16:49:17,12,2016-01-25,11:04:00,2016-01-25 11:04:00
12,PE00000001,057,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,1200.0,1200.0,10003204002,2,...,2016-01-29,18:47:40,2016-01-28,17:40:11,2016-01-29,16:49:17,13,2016-01-25,11:04:00,2016-01-25 11:04:00
13,PE00000001,057,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,200.0,200.0,10003205002,2,...,2016-01-30,12:33:04,2016-01-28,17:40:11,2016-01-29,16:49:17,14,2016-01-25,11:04:00,2016-01-25 11:04:00
14,PE00000001,057,CANOA CONFORT AL CORTE,ESTAMPADO,12.0,12.0,200.0,200.0,10003206002,2,...,2008-01-01,NaN,2016-01-28,17:40:11,2016-01-29,16:49:17,15,2016-01-25,11:04:00,2016-01-25 11:04:00
15,PE00000001,057,CANOA CONFORT AL CORTE,SELLOS,12.0,12.0,0.0,0.0,10003207002,2,...,2008-01-01,NaN,2016-01-28,17:40:11,2016-01-29,16:49:17,16,2016-01-25,11:04:00,2016-01-25 11:04:00
16,PE00000001,057,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,12.0,12.0,500.0,500.0,10003208002,2,...,2016-01-28,17:40:11,2016-01-28,17:40:11,2016-01-29,16:49:17,17,2016-01-25,11:04:00,2016-01-25 11:04:00
17,PE00000001,057,CANOA CONFORT AL CORTE,PLANTILLAS,12.0,12.0,0.0,0.0,10003209002,2,...,2008-01-01,NaN,2016-01-28,17:40:11,2016-01-29,16:49:17,18,2016-01-25,11:04:00,2016-01-25 11:04:00
18,PE00000001,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,10.0,10.0,400.0,400.0,10003201003,3,...,2016-01-29,16:46:58,2016-01-28,17:41:23,2016-01-29,16:46:58,19,2016-01-25,11:04:00,2016-01-25 11:04:00
19,PE00000001,057,CANOA CONFORT AL CORTE,MONTADOR,10.0,10.0,1400.0,1400.0,10003202003,3,...,2016-01-29,13:42:07,2016-01-28,17:41:23,2016-01-29,16:46:58,20,2016-01-25,11:04:00,2016-01-25 11:04:00
20,PE00000001,057,CANOA CONFORT AL CORTE,COSTURA,10.0,10.0,450.0,450.0,10003203003,3,...,2016-01-29,18:28:46,2016-01-28,17:41:23,2016-01-29,16:46:58,21,2016-01-25,11:04:00,2016-01-25 11:04:00
21,PE00000001,057,CANOA CONFORT AL CORTE,ARMADO,10.0,10.0,1200.0,1200.0,10003204003,3,...,2016-01-30,12:49:22,2016-01-28,17:41:23,2016-01-29,16:46:58,22,2016-01-25,11:04:00,2016-01-25 11:04:00
22,PE00000001,057,CANOA CONFORT AL CORTE,CORTADO,10.0,10.0,200.0,200.0,10003205003,3,...,2016-01-30,12:33:23,2016-01-28,17:41:23,2016-01-29,16:46:58,23,2016-01-25,11:04:00,2016-01-25 11:04:00
23,PE00000001,057,CANOA CONFORT AL CORTE,ESTAMPADO,10.0,10.0,200.0,200.0,10003206003,3,...,2008-01-01,NaN,2016-01-28,17:41:23,2016-01-29,16:46:58,24,2016-01-25,11:04:00,2016-01-25 11:04:00
24,PE00000001,057,CANOA CONFORT AL CORTE,SELLOS,10.0,10.0,0.0,0.0,10003207003,3,...,2008-01-01,NaN,2016-01-28,17:41:23,2016-01-29,16:46:58,25,2016-01-25,11:04:00,2016-01-25 11:04:00
25,PE00000001,057,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,10.0,10.0,500.0,500.0,10003208003,3,...,2016-01-28,17:41:23,2016-01-28,17:41:23,2016-01-29,16:46:58,26,2016-01-25,11:04:00,2016-01-25 11:04:00
26,PE00000001,057,CANOA CONFORT AL CORTE,PLANTILLAS,10.0,10.0,0.0,0.0,10003209003,3,...,2008-01-01,NaN,2016-01-28,17:41:23,2016-01-29,16:46:58,27,2016-01-25,11:04:00,2016-01-25 11:04:00
27,PE00000002,154,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003301001,4,...,2016-01-29,16:47:55,2016-01-28,17:38:49,2016-01-29,16:47:55,28,2016-01-25,11:04:32,2016-01-25 11:04:32
28,PE00000002,154,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,1400.0,1400.0,10003302001,4,...,2016-01-30,10:50:37,2016-01-28,17:38:49,2016-01-29,16:47:55,29,2016-01-25,11:04:32,2016-01-25 11:04:32
29,PE00000002,154,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,450.0,450.0,10003303001,4,...,2016-01-29,18:29:46,2016-01-28,17:38:49,2016-01-29,16:47:55,30,2016-01-25,11:04:32,2016-01-25 11:04:32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113798,PE00002193,053,PLANA HERRAJE 2017,COSTURA,13.0,13.0,520.0,520.0,10747903008,15340,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113808,2017-10-13,15:10:10,2017-10-13 15:10:10
113799,PE00002193,053,PLANA HERRAJE 2017,ARMADO,13.0,13.0,1350.0,1350.0,10747904008,15340,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113809,2017-10-13,15:10:10,2017-10-13 15:10:10
113800,PE00002193,053,PLANA HERRAJE 2017,CORTADO,13.0,13.0,400.0,400.0,10747905008,15340,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113810,2017-10-13,15:10:10,2017-10-13 15:10:10
113801,PE00002193,053,PLANA HERRAJE 2017,SUELAS,13.0,13.0,200.0,200.0,10747906008,15340,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113811,2017-10-13,15:10:10,2017-10-13 15:10:10
113802,PE00002193,053,PLANA HERRAJE 2017,LASER,13.0,13.0,0.0,0.0,10747907008,15340,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113812,2017-10-13,15:10:10,2017-10-13 15:10:10
113803,PE00002193,053,PLANA HERRAJE 2017,PLANTILLAS,13.0,13.0,0.0,0.0,10747908008,15340,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113813,2017-10-13,15:10:10,2017-10-13 15:10:10
113804,PE00002193,053,PLANA HERRAJE 2017,EMPLANTILLADO,13.0,13.0,400.0,400.0,10747901009,15341,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113814,2017-10-13,15:10:10,2017-10-13 15:10:10
113805,PE00002193,053,PLANA HERRAJE 2017,MONTADOR,13.0,13.0,1450.0,1450.0,10747902009,15341,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113815,2017-10-13,15:10:10,2017-10-13 15:10:10
113806,PE00002193,053,PLANA HERRAJE 2017,COSTURA,13.0,13.0,520.0,520.0,10747903009,15341,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113816,2017-10-13,15:10:10,2017-10-13 15:10:10
113807,PE00002193,053,PLANA HERRAJE 2017,ARMADO,13.0,13.0,1350.0,1350.0,10747904009,15341,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113817,2017-10-13,15:10:11,2017-10-13 15:10:11
113808,PE00002193,053,PLANA HERRAJE 2017,CORTADO,13.0,13.0,400.0,400.0,10747905009,15341,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113818,2017-10-13,15:10:11,2017-10-13 15:10:11
113809,PE00002193,053,PLANA HERRAJE 2017,SUELAS,13.0,13.0,200.0,200.0,10747906009,15341,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113819,2017-10-13,15:10:11,2017-10-13 15:10:11
113810,PE00002193,053,PLANA HERRAJE 2017,LASER,13.0,13.0,0.0,0.0,10747907009,15341,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113820,2017-10-13,15:10:11,2017-10-13 15:10:11
113811,PE00002193,053,PLANA HERRAJE 2017,PLANTILLAS,13.0,13.0,0.0,0.0,10747908009,15341,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113821,2017-10-13,15:10:11,2017-10-13 15:10:11
113812,PE00002193,053,PLANA HERRAJE 2017,EMPLANTILLADO,13.0,13.0,400.0,400.0,10747901010,15342,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113822,2017-10-13,15:10:11,2017-10-13 15:10:11
113813,PE00002193,053,PLANA HERRAJE 2017,MONTADOR,13.0,13.0,1450.0,1450.0,10747902010,15342,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113823,2017-10-13,15:10:11,2017-10-13 15:10:11
113814,PE00002193,053,PLANA HERRAJE 2017,COSTURA,13.0,13.0,520.0,520.0,10747903010,15342,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113824,2017-10-13,15:10:11,2017-10-13 15:10:11
113815,PE00002193,053,PLANA HERRAJE 2017,ARMADO,13.0,13.0,1350.0,1350.0,10747904010,15342,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113825,2017-10-13,15:10:11,2017-10-13 15:10:11
113816,PE00002193,053,PLANA HERRAJE 2017,CORTADO,13.0,13.0,400.0,400.0,10747905010,15342,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113826,2017-10-13,15:10:12,2017-10-13 15:10:12
113817,PE00002193,053,PLANA HERRAJE 2017,SUELAS,13.0,13.0,200.0,200.0,10747906010,15342,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113827,2017-10-13,15:10:12,2017-10-13 15:10:12
113818,PE00002193,053,PLANA HERRAJE 2017,LASER,13.0,13.0,0.0,0.0,10747907010,15342,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113828,2017-10-13,15:10:12,2017-10-13 15:10:12
113819,PE00002193,053,PLANA HERRAJE 2017,PLANTILLAS,13.0,13.0,0.0,0.0,10747908010,15342,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113829,2017-10-13,15:10:12,2017-10-13 15:10:12
113820,PE00002193,053,LASER,EMPLANTILLADO,13.0,13.0,400.0,400.0,10747901011,15343,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113830,2017-10-13,15:10:12,2017-10-13 15:10:12
113821,PE00002193,053,LASER,MONTADOR,13.0,13.0,1450.0,1450.0,10747902011,15343,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113831,2017-10-13,15:10:12,2017-10-13 15:10:12
113822,PE00002193,053,LASER,COSTURA,13.0,13.0,520.0,520.0,10747903011,15343,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113832,2017-10-13,15:10:12,2017-10-13 15:10:12
113823,PE00002193,053,LASER,ARMADO,13.0,13.0,1250.0,1250.0,10747904011,15343,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113833,2017-10-13,15:10:12,2017-10-13 15:10:12
113824,PE00002193,053,LASER,CORTADO,13.0,13.0,400.0,400.0,10747905011,15343,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113834,2017-10-13,15:10:13,2017-10-13 15:10:13
113825,PE00002193,053,LASER,SUELAS,13.0,13.0,200.0,200.0,10747906011,15343,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113835,2017-10-13,15:10:13,2017-10-13 15:10:13
113826,PE00002193,053,LASER,PLANTILLAS,13.0,13.0,0.0,0.0,10747907011,15343,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113836,2017-10-13,15:10:13,2017-10-13 15:10:13
113827,PE00002193,053,LASER,LASER,13.0,13.0,0.0,0.0,10747908011,15343,...,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113837,2017-10-13,15:10:13,2017-10-13 15:10:13

## Filtramos por Año

Analizamos la cantidad de transacciones por cada año

In [31]:
df_temp = df.set_index('TIMESTAMP')['2016'].groupby('FECHA').count()
plot_time_line(df_temp,'2016','Tiempo','Registros')

In [32]:
df_temp_ = df.set_index('TIMESTAMP')['2017'].groupby('FECHA').count()
plot_time_line(df_temp_,'2017','Tiempo','Registros')

In [33]:
plot_time_line_two(df_temp,df_temp_,'2017 vs 2016','Tiempo','Registros')

## Filtramos por Mes

In [34]:
df.set_index('TIMESTAMP').groupby(pd.TimeGrouper(freq='M')).count()

,NROFAVE,CODCLI,CODPP,CODOPE,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,NROTICKC,...,HORAITT,FECHAFTT,HORAFTT,FECHAIOPE,HORAIOPE,FECHAFOPE,HORAFOPE,IDPROTICKETS,FECHA,HORA
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2016-01-31,693,693,757,757,757,757,757,757,757,757,...,153,757,424,757,661,757,642,757,757,757
2016-02-29,4416,4416,4467,4467,4467,4467,4467,4467,4467,4467,...,1021,4467,2653,4467,3635,4467,3073,4467,4467,4467
2016-03-31,4379,4379,4438,4438,4438,4438,4438,4438,4438,4438,...,810,4438,3171,4438,4324,4438,4130,4438,4438,4438
2016-04-30,3683,3683,3755,3755,3755,3755,3755,3755,3755,3755,...,1024,3755,3004,3755,3580,3755,3378,3755,3755,3755
2016-05-31,2274,2274,2318,2318,2318,2318,2318,2318,2318,2318,...,648,2318,1894,2318,2267,2318,2090,2318,2318,2318
2016-06-30,4467,4467,4502,4502,4502,4502,4502,4502,4502,4502,...,1354,4502,3840,4502,4377,4502,3821,4502,4502,4502
2016-07-31,4304,4304,4336,4336,4336,4336,4336,4336,4336,4336,...,957,4336,3395,4336,3832,4336,3623,4336,4336,4336
2016-08-31,6754,6754,6802,6802,6802,6802,6802,6802,6802,6802,...,914,6802,5116,6802,5968,6802,5853,6802,6802,6802
2016-09-30,9104,9104,9196,9196,9196,9196,9196,9196,9196,9196,...,1074,9196,6113,9196,7867,9196,7656,9196,9196,9196
2016-10-31,8796,8796,8873,8873,8873,8873,8873,8873,8873,8873,...,1162,8873,6560,8873,8226,8873,8153,8873,8873,8873
2016-11-30,8531,8531,8708,8708,8708,8708,8708,8708,8708,8708,...,1066,8708,6074,8708,8036,8708,7534,8708,8708,8708
2016-12-31,2258,2258,2349,2349,2349,2349,2349,2349,2349,2349,...,250,2349,1319,2349,1957,2349,1840,2349,2349,2349
2017-01-31,590,590,635,635,635,635,635,635,635,635,...,81,635,432,635,590,635,590,635,635,635
2017-02-28,3548,3548,3576,3576,3576,3576,3576,3576,3576,3576,...,740,3576,3119,3576,3500,3576,3436,3576,3576,3576
2017-03-31,8026,8026,8094,8094,8094,8094,8094,8094,8094,8094,...,1211,8094,7019,8094,7786,8094,7714,8094,8094,8094
2017-04-30,4649,4649,4762,4762,4762,4762,4762,4762,4762,4762,...,541,4762,3152,4762,4328,4762,4232,4762,4762,4762
2017-05-31,4336,4336,4396,4396,4396,4396,4396,4396,4396,4396,...,579,4396,2964,4396,4224,4396,4171,4396,4396,4396
2017-06-30,3951,3951,3999,3999,3999,3999,3999,3999,3999,3999,...,469,3999,2698,3999,3811,3999,3719,3999,3999,3999
2017-07-31,6924,6924,6968,6968,6968,6968,6968,6968,6968,6968,...,806,6968,4418,6968,6485,6968,6270,6968,6968,6968
2017-08-31,4264,4264,4314,4314,4314,4314,4314,4314,4314,4314,...,508,4314,2642,4314,4176,4314,3936,4314,4314,4314
2017-09-30,11565,11565,11792,11792,11792,11792,11792,11792,11792,11792,...,2203,11792,6371,11792,9855,11792,9143,11792,11792,11792
2017-10-31,4448,4448,4791,4791,4791,4791,4791,4791,4791,4791,...,460,4791,482,4791,1912,4791,528,4791,4791,4791

In [35]:
df_temp_monthly = df.set_index('TIMESTAMP').groupby(pd.TimeGrouper(freq='M')).count()
plot_time_line(df_temp_monthly,'Mensual','Tiempo','Registros')

### Filtramos por Número de FAVE

Buscamos analizar el tiempo en realizar un pedido

In [36]:
df.loc[df['NROFAVE'] == 'PE00000001']

,NROFAVE,CODCLI,CODPP,CODOPE,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,NROTICKC,...,FECHAFTT,HORAFTT,FECHAIOPE,HORAIOPE,FECHAFOPE,HORAFOPE,IDPROTICKETS,FECHA,HORA,TIMESTAMP
0,PE00000001,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003201001,1,...,2016-01-29,16:48:41,2016-01-28,17:40:16,2016-01-29,16:48:41,1,2016-01-25,11:04:00,2016-01-25 11:04:00
1,PE00000001,057,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,1400.0,1400.0,10003202001,1,...,2016-01-29,13:41:54,2016-01-28,17:40:16,2016-01-29,16:48:41,2,2016-01-25,11:04:00,2016-01-25 11:04:00
2,PE00000001,057,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,450.0,450.0,10003203001,1,...,2016-01-29,18:29:57,2016-01-28,17:40:16,2016-01-29,16:48:41,3,2016-01-25,11:04:00,2016-01-25 11:04:00
3,PE00000001,057,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,1200.0,1200.0,10003204001,1,...,2016-01-29,18:47:44,2016-01-28,17:40:16,2016-01-29,16:48:41,4,2016-01-25,11:04:00,2016-01-25 11:04:00
4,PE00000001,057,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,200.0,200.0,10003205001,1,...,2016-01-30,12:33:02,2016-01-28,17:40:16,2016-01-29,16:48:41,5,2016-01-25,11:04:00,2016-01-25 11:04:00
5,PE00000001,057,CANOA CONFORT AL CORTE,ESTAMPADO,12.0,12.0,200.0,200.0,10003206001,1,...,2008-01-01,NaN,2016-01-28,17:40:16,2016-01-29,16:48:41,6,2016-01-25,11:04:00,2016-01-25 11:04:00
6,PE00000001,057,CANOA CONFORT AL CORTE,SELLOS,12.0,12.0,0.0,0.0,10003207001,1,...,2008-01-01,NaN,2016-01-28,17:40:16,2016-01-29,16:48:41,7,2016-01-25,11:04:00,2016-01-25 11:04:00
7,PE00000001,057,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,12.0,12.0,500.0,500.0,10003208001,1,...,2016-01-28,17:40:16,2016-01-28,17:40:16,2016-01-29,16:48:41,8,2016-01-25,11:04:00,2016-01-25 11:04:00
8,PE00000001,057,CANOA CONFORT AL CORTE,PLANTILLAS,12.0,12.0,0.0,0.0,10003209001,1,...,2008-01-01,NaN,2016-01-28,17:40:16,2016-01-29,16:48:41,9,2016-01-25,11:04:00,2016-01-25 11:04:00
9,PE00000001,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003201002,2,...,2016-01-29,16:49:17,2016-01-28,17:40:11,2016-01-29,16:49:17,10,2016-01-25,11:04:00,2016-01-25 11:04:00
10,PE00000001,057,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,1400.0,1400.0,10003202002,2,...,2016-01-29,14:00:02,2016-01-28,17:40:11,2016-01-29,16:49:17,11,2016-01-25,11:04:00,2016-01-25 11:04:00
11,PE00000001,057,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,450.0,450.0,10003203002,2,...,2016-01-29,18:29:43,2016-01-28,17:40:11,2016-01-29,16:49:17,12,2016-01-25,11:04:00,2016-01-25 11:04:00
12,PE00000001,057,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,1200.0,1200.0,10003204002,2,...,2016-01-29,18:47:40,2016-01-28,17:40:11,2016-01-29,16:49:17,13,2016-01-25,11:04:00,2016-01-25 11:04:00
13,PE00000001,057,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,200.0,200.0,10003205002,2,...,2016-01-30,12:33:04,2016-01-28,17:40:11,2016-01-29,16:49:17,14,2016-01-25,11:04:00,2016-01-25 11:04:00
14,PE00000001,057,CANOA CONFORT AL CORTE,ESTAMPADO,12.0,12.0,200.0,200.0,10003206002,2,...,2008-01-01,NaN,2016-01-28,17:40:11,2016-01-29,16:49:17,15,2016-01-25,11:04:00,2016-01-25 11:04:00
15,PE00000001,057,CANOA CONFORT AL CORTE,SELLOS,12.0,12.0,0.0,0.0,10003207002,2,...,2008-01-01,NaN,2016-01-28,17:40:11,2016-01-29,16:49:17,16,2016-01-25,11:04:00,2016-01-25 11:04:00
16,PE00000001,057,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,12.0,12.0,500.0,500.0,10003208002,2,...,2016-01-28,17:40:11,2016-01-28,17:40:11,2016-01-29,16:49:17,17,2016-01-25,11:04:00,2016-01-25 11:04:00
17,PE00000001,057,CANOA CONFORT AL CORTE,PLANTILLAS,12.0,12.0,0.0,0.0,10003209002,2,...,2008-01-01,NaN,2016-01-28,17:40:11,2016-01-29,16:49:17,18,2016-01-25,11:04:00,2016-01-25 11:04:00
18,PE00000001,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,10.0,10.0,400.0,400.0,10003201003,3,...,2016-01-29,16:46:58,2016-01-28,17:41:23,2016-01-29,16:46:58,19,2016-01-25,11:04:00,2016-01-25 11:04:00
19,PE00000001,057,CANOA CONFORT AL CORTE,MONTADOR,10.0,10.0,1400.0,1400.0,10003202003,3,...,2016-01-29,13:42:07,2016-01-28,17:41:23,2016-01-29,16:46:58,20,2016-01-25,11:04:00,2016-01-25 11:04:00
20,PE00000001,057,CANOA CONFORT AL CORTE,COSTURA,10.0,10.0,450.0,450.0,10003203003,3,...,2016-01-29,18:28:46,2016-01-28,17:41:23,2016-01-29,16:46:58,21,2016-01-25,11:04:00,2016-01-25 11:04:00
21,PE00000001,057,CANOA CONFORT AL CORTE,ARMADO,10.0,10.0,1200.0,1200.0,10003204003,3,...,2016-01-30,12:49:22,2016-01-28,17:41:23,2016-01-29,16:46:58,22,2016-01-25,11:04:00,2016-01-25 11:04:00
22,PE00000001,057,CANOA CONFORT AL CORTE,CORTADO,10.0,10.0,200.0,200.0,10003205003,3,...,2016-01-30,12:33:23,2016-01-28,17:41:23,2016-01-29,16:46:58,23,2016-01-25,11:04:00,2016-01-25 11:04:00
23,PE00000001,057,CANOA CONFORT AL CORTE,ESTAMPADO,10.0,10.0,200.0,200.0,10003206003,3,...,2008-01-01,NaN,2016-01-28,17:41:23,2016-01-29,16:46:58,24,2016-01-25,11:04:00,2016-01-25 11:04:00
24,PE00000001,057,CANOA CONFORT AL CORTE,SELLOS,10.0,10.0,0.0,0.0,10003207003,3,...,2008-01-01,NaN,2016-01-28,17:41:23,2016-01-29,16:46:58,25,2016-01-25,11:04:00,2016-01-25 11:04:00
25,PE00000001,057,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,10.0,10.0,500.0,500.0,10003208003,3,...,2016-01-28,17:41:23,2016-01-28,17:41:23,2016-01-29,16:46:58,26,2016-01-25,11:04:00,2016-01-25 11:04:00
26,PE00000001,057,CANOA CONFORT AL CORTE,PLANTILLAS,10.0,10.0,0.0,0.0,10003209003,3,...,2008-01-01,NaN,2016-01-28,17:41:23,2016-01-29,16:46:58,27,2016-01-25,11:04:00,2016-01-25 11:04:00

### Convertimos el Inicio y Fin de las Operaciones

In [37]:
df['TIMEIOPE'] = pd.to_datetime(df['FECHAIOPE'] + ' ' + df['HORAIOPE'])
df['TIMEFOPE'] = pd.to_datetime(df['FECHAFOPE'] + ' ' + df['HORAFOPE'])
df

,NROFAVE,CODCLI,CODPP,CODOPE,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,NROTICKC,...,FECHAIOPE,HORAIOPE,FECHAFOPE,HORAFOPE,IDPROTICKETS,FECHA,HORA,TIMESTAMP,TIMEIOPE,TIMEFOPE
0,PE00000001,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003201001,1,...,2016-01-28,17:40:16,2016-01-29,16:48:41,1,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41
1,PE00000001,057,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,1400.0,1400.0,10003202001,1,...,2016-01-28,17:40:16,2016-01-29,16:48:41,2,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41
2,PE00000001,057,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,450.0,450.0,10003203001,1,...,2016-01-28,17:40:16,2016-01-29,16:48:41,3,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41
3,PE00000001,057,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,1200.0,1200.0,10003204001,1,...,2016-01-28,17:40:16,2016-01-29,16:48:41,4,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41
4,PE00000001,057,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,200.0,200.0,10003205001,1,...,2016-01-28,17:40:16,2016-01-29,16:48:41,5,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41
5,PE00000001,057,CANOA CONFORT AL CORTE,ESTAMPADO,12.0,12.0,200.0,200.0,10003206001,1,...,2016-01-28,17:40:16,2016-01-29,16:48:41,6,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41
6,PE00000001,057,CANOA CONFORT AL CORTE,SELLOS,12.0,12.0,0.0,0.0,10003207001,1,...,2016-01-28,17:40:16,2016-01-29,16:48:41,7,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41
7,PE00000001,057,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,12.0,12.0,500.0,500.0,10003208001,1,...,2016-01-28,17:40:16,2016-01-29,16:48:41,8,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41
8,PE00000001,057,CANOA CONFORT AL CORTE,PLANTILLAS,12.0,12.0,0.0,0.0,10003209001,1,...,2016-01-28,17:40:16,2016-01-29,16:48:41,9,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41
9,PE00000001,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003201002,2,...,2016-01-28,17:40:11,2016-01-29,16:49:17,10,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17
10,PE00000001,057,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,1400.0,1400.0,10003202002,2,...,2016-01-28,17:40:11,2016-01-29,16:49:17,11,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17
11,PE00000001,057,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,450.0,450.0,10003203002,2,...,2016-01-28,17:40:11,2016-01-29,16:49:17,12,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17
12,PE00000001,057,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,1200.0,1200.0,10003204002,2,...,2016-01-28,17:40:11,2016-01-29,16:49:17,13,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17
13,PE00000001,057,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,200.0,200.0,10003205002,2,...,2016-01-28,17:40:11,2016-01-29,16:49:17,14,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17
14,PE00000001,057,CANOA CONFORT AL CORTE,ESTAMPADO,12.0,12.0,200.0,200.0,10003206002,2,...,2016-01-28,17:40:11,2016-01-29,16:49:17,15,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17
15,PE00000001,057,CANOA CONFORT AL CORTE,SELLOS,12.0,12.0,0.0,0.0,10003207002,2,...,2016-01-28,17:40:11,2016-01-29,16:49:17,16,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17
16,PE00000001,057,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,12.0,12.0,500.0,500.0,10003208002,2,...,2016-01-28,17:40:11,2016-01-29,16:49:17,17,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17
17,PE00000001,057,CANOA CONFORT AL CORTE,PLANTILLAS,12.0,12.0,0.0,0.0,10003209002,2,...,2016-01-28,17:40:11,2016-01-29,16:49:17,18,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17
18,PE00000001,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,10.0,10.0,400.0,400.0,10003201003,3,...,2016-01-28,17:41:23,2016-01-29,16:46:58,19,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58
19,PE00000001,057,CANOA CONFORT AL CORTE,MONTADOR,10.0,10.0,1400.0,1400.0,10003202003,3,...,2016-01-28,17:41:23,2016-01-29,16:46:58,20,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58
20,PE00000001,057,CANOA CONFORT AL CORTE,COSTURA,10.0,10.0,450.0,450.0,10003203003,3,...,2016-01-28,17:41:23,2016-01-29,16:46:58,21,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58
21,PE00000001,057,CANOA CONFORT AL CORTE,ARMADO,10.0,10.0,1200.0,1200.0,10003204003,3,...,2016-01-28,17:41:23,2016-01-29,16:46:58,22,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58
22,PE00000001,057,CANOA CONFORT AL CORTE,CORTADO,10.0,10.0,200.0,200.0,10003205003,3,...,2016-01-28,17:41:23,2016-01-29,16:46:58,23,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58
23,PE00000001,057,CANOA CONFORT AL CORTE,ESTAMPADO,10.0,10.0,200.0,200.0,10003206003,3,...,2016-01-28,17:41:23,2016-01-29,16:46:58,24,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58
24,PE00000001,057,CANOA CONFORT AL CORTE,SELLOS,10.0,10.0,0.0,0.0,10003207003,3,...,2016-01-28,17:41:23,2016-01-29,16:46:58,25,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58
25,PE00000001,057,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,10.0,10.0,500.0,500.0,10003208003,3,...,2016-01-28,17:41:23,2016-01-29,16:46:58,26,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58
26,PE00000001,057,CANOA CONFORT AL CORTE,PLANTILLAS,10.0,10.0,0.0,0.0,10003209003,3,...,2016-01-28,17:41:23,2016-01-29,16:46:58,27,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58
27,PE00000002,154,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003301001,4,...,2016-01-28,17:38:49,2016-01-29,16:47:55,28,2016-01-25,11:04:32,2016-01-25 11:04:32,2016-01-28 17:38:49,2016-01-29 16:47:55
28,PE00000002,154,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,1400.0,1400.0,10003302001,4,...,2016-01-28,17:38:49,2016-01-29,16:47:55,29,2016-01-25,11:04:32,2016-01-25 11:04:32,2016-01-28 17:38:49,2016-01-29 16:47:55
29,PE00000002,154,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,450.0,450.0,10003303001,4,...,2016-01-28,17:38:49,2016-01-29,16:47:55,30,2016-01-25,11:04:32,2016-01-25 11:04:32,2016-01-28 17:38:49,2016-01-29 16:47:55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113798,PE00002193,053,PLANA HERRAJE 2017,COSTURA,13.0,13.0,520.0,520.0,10747903008,15340,...,2008-01-01,NaN,2008-01-01,NaN,113808,2017-10-13,15:10:10,2017-10-13 15:10:10,NaT,NaT
113799,PE00002193,053,PLANA HERRAJE 2017,ARMADO,13.0,13.0,1350.0,1350.0,10747904008,15340,...,2008-01-01,NaN,2008-01-01,NaN,113809,2017-10-13,15:10:10,2017-10-13 15:10:10,NaT,NaT
113800,PE00002193,053,PLANA HERRAJE 2017,CORTADO,13.0,13.0,400.0,400.0,10747905008,15340,...,2008-01-01,NaN,2008-01-01,NaN,113810,2017-10-13,15:10:10,2017-10-13 15:10:10,NaT,NaT
113801,PE00002193,053,PLANA HERRAJE 2017,SUELAS,13.0,13.0,200.0,200.0,10747906008,15340,...,2008-01-01,NaN,2008-01-01,NaN,113811,2017-10-13,15:10:10,2017-10-13 15:10:10,NaT,NaT
113802,PE00002193,053,PLANA HERRAJE 2017,LASER,13.0,13.0,0.0,0.0,10747907008,15340,...,2008-01-01,NaN,2008-01-01,NaN,113812,2017-10-13,15:10:10,2017-10-13 15:10:10,NaT,NaT
113803,PE00002193,053,PLANA HERRAJE 2017,PLANTILLAS,13.0,13.0,0.0,0.0,10747908008,15340,...,2008-01-01,NaN,2008-01-01,NaN,113813,2017-10-13,15:10:10,2017-10-13 15:10:10,NaT,NaT
113804,PE00002193,053,PLANA HERRAJE 2017,EMPLANTILLADO,13.0,13.0,400.0,400.0,10747901009,15341,...,2008-01-01,NaN,2008-01-01,NaN,113814,2017-10-13,15:10:10,2017-10-13 15:10:10,NaT,NaT
113805,PE00002193,053,PLANA HERRAJE 2017,MONTADOR,13.0,13.0,1450.0,1450.0,10747902009,15341,...,2008-01-01,NaN,2008-01-01,NaN,113815,2017-10-13,15:10:10,2017-10-13 15:10:10,NaT,NaT
113806,PE00002193,053,PLANA HERRAJE 2017,COSTURA,13.0,13.0,520.0,520.0,10747903009,15341,...,2008-01-01,NaN,2008-01-01,NaN,113816,2017-10-13,15:10:10,2017-10-13 15:10:10,NaT,NaT
113807,PE00002193,053,PLANA HERRAJE 2017,ARMADO,13.0,13.0,1350.0,1350.0,10747904009,15341,...,2008-01-01,NaN,2008-01-01,NaN,113817,2017-10-13,15:10:11,2017-10-13 15:10:11,NaT,NaT
113808,PE00002193,053,PLANA HERRAJE 2017,CORTADO,13.0,13.0,400.0,400.0,10747905009,15341,...,2008-01-01,NaN,2008-01-01,NaN,113818,2017-10-13,15:10:11,2017-10-13 15:10:11,NaT,NaT
113809,PE00002193,053,PLANA HERRAJE 2017,SUELAS,13.0,13.0,200.0,200.0,10747906009,15341,...,2008-01-01,NaN,2008-01-01,NaN,113819,2017-10-13,15:10:11,2017-10-13 15:10:11,NaT,NaT
113810,PE00002193,053,PLANA HERRAJE 2017,LASER,13.0,13.0,0.0,0.0,10747907009,15341,...,2008-01-01,NaN,2008-01-01,NaN,113820,2017-10-13,15:10:11,2017-10-13 15:10:11,NaT,NaT
113811,PE00002193,053,PLANA HERRAJE 2017,PLANTILLAS,13.0,13.0,0.0,0.0,10747908009,15341,...,2008-01-01,NaN,2008-01-01,NaN,113821,2017-10-13,15:10:11,2017-10-13 15:10:11,NaT,NaT
113812,PE00002193,053,PLANA HERRAJE 2017,EMPLANTILLADO,13.0,13.0,400.0,400.0,10747901010,15342,...,2008-01-01,NaN,2008-01-01,NaN,113822,2017-10-13,15:10:11,2017-10-13 15:10:11,NaT,NaT
113813,PE00002193,053,PLANA HERRAJE 2017,MONTADOR,13.0,13.0,1450.0,1450.0,10747902010,15342,...,2008-01-01,NaN,2008-01-01,NaN,113823,2017-10-13,15:10:11,2017-10-13 15:10:11,NaT,NaT
113814,PE00002193,053,PLANA HERRAJE 2017,COSTURA,13.0,13.0,520.0,520.0,10747903010,15342,...,2008-01-01,NaN,2008-01-01,NaN,113824,2017-10-13,15:10:11,2017-10-13 15:10:11,NaT,NaT
113815,PE00002193,053,PLANA HERRAJE 2017,ARMADO,13.0,13.0,1350.0,1350.0,10747904010,15342,...,2008-01-01,NaN,2008-01-01,NaN,113825,2017-10-13,15:10:11,2017-10-13 15:10:11,NaT,NaT
113816,PE00002193,053,PLANA HERRAJE 2017,CORTADO,13.0,13.0,400.0,400.0,10747905010,15342,...,2008-01-01,NaN,2008-01-01,NaN,113826,2017-10-13,15:10:12,2017-10-13 15:10:12,NaT,NaT
113817,PE00002193,053,PLANA HERRAJE 2017,SUELAS,13.0,13.0,200.0,200.0,10747906010,15342,...,2008-01-01,NaN,2008-01-01,NaN,113827,2017-10-13,15:10:12,2017-10-13 15:10:12,NaT,NaT
113818,PE00002193,053,PLANA HERRAJE 2017,LASER,13.0,13.0,0.0,0.0,10747907010,15342,...,2008-01-01,NaN,2008-01-01,NaN,113828,2017-10-13,15:10:12,2017-10-13 15:10:12,NaT,NaT
113819,PE00002193,053,PLANA HERRAJE 2017,PLANTILLAS,13.0,13.0,0.0,0.0,10747908010,15342,...,2008-01-01,NaN,2008-01-01,NaN,113829,2017-10-13,15:10:12,2017-10-13 15:10:12,NaT,NaT
113820,PE00002193,053,LASER,EMPLANTILLADO,13.0,13.0,400.0,400.0,10747901011,15343,...,2008-01-01,NaN,2008-01-01,NaN,113830,2017-10-13,15:10:12,2017-10-13 15:10:12,NaT,NaT
113821,PE00002193,053,LASER,MONTADOR,13.0,13.0,1450.0,1450.0,10747902011,15343,...,2008-01-01,NaN,2008-01-01,NaN,113831,2017-10-13,15:10:12,2017-10-13 15:10:12,NaT,NaT
113822,PE00002193,053,LASER,COSTURA,13.0,13.0,520.0,520.0,10747903011,15343,...,2008-01-01,NaN,2008-01-01,NaN,113832,2017-10-13,15:10:12,2017-10-13 15:10:12,NaT,NaT
113823,PE00002193,053,LASER,ARMADO,13.0,13.0,1250.0,1250.0,10747904011,15343,...,2008-01-01,NaN,2008-01-01,NaN,113833,2017-10-13,15:10:12,2017-10-13 15:10:12,NaT,NaT
113824,PE00002193,053,LASER,CORTADO,13.0,13.0,400.0,400.0,10747905011,15343,...,2008-01-01,NaN,2008-01-01,NaN,113834,2017-10-13,15:10:13,2017-10-13 15:10:13,NaT,NaT
113825,PE00002193,053,LASER,SUELAS,13.0,13.0,200.0,200.0,10747906011,15343,...,2008-01-01,NaN,2008-01-01,NaN,113835,2017-10-13,15:10:13,2017-10-13 15:10:13,NaT,NaT
113826,PE00002193,053,LASER,PLANTILLAS,13.0,13.0,0.0,0.0,10747907011,15343,...,2008-01-01,NaN,2008-01-01,NaN,113836,2017-10-13,15:10:13,2017-10-13 15:10:13,NaT,NaT
113827,PE00002193,053,LASER,LASER,13.0,13.0,0.0,0.0,10747908011,15343,...,2008-01-01,NaN,2008-01-01,NaN,113837,2017-10-13,15:10:13,2017-10-13 15:10:13,NaT,NaT

Calculamos la diferencia buscando determinar el rendimiento de los operadores

In [38]:
df['TIMEDIF'] = df['TIMEFOPE'] - df['TIMEIOPE']
df

,NROFAVE,CODCLI,CODPP,CODOPE,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,NROTICKC,...,HORAIOPE,FECHAFOPE,HORAFOPE,IDPROTICKETS,FECHA,HORA,TIMESTAMP,TIMEIOPE,TIMEFOPE,TIMEDIF
0,PE00000001,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003201001,1,...,17:40:16,2016-01-29,16:48:41,1,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,23:08:25
1,PE00000001,057,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,1400.0,1400.0,10003202001,1,...,17:40:16,2016-01-29,16:48:41,2,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,23:08:25
2,PE00000001,057,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,450.0,450.0,10003203001,1,...,17:40:16,2016-01-29,16:48:41,3,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,23:08:25
3,PE00000001,057,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,1200.0,1200.0,10003204001,1,...,17:40:16,2016-01-29,16:48:41,4,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,23:08:25
4,PE00000001,057,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,200.0,200.0,10003205001,1,...,17:40:16,2016-01-29,16:48:41,5,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,23:08:25
5,PE00000001,057,CANOA CONFORT AL CORTE,ESTAMPADO,12.0,12.0,200.0,200.0,10003206001,1,...,17:40:16,2016-01-29,16:48:41,6,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,23:08:25
6,PE00000001,057,CANOA CONFORT AL CORTE,SELLOS,12.0,12.0,0.0,0.0,10003207001,1,...,17:40:16,2016-01-29,16:48:41,7,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,23:08:25
7,PE00000001,057,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,12.0,12.0,500.0,500.0,10003208001,1,...,17:40:16,2016-01-29,16:48:41,8,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,23:08:25
8,PE00000001,057,CANOA CONFORT AL CORTE,PLANTILLAS,12.0,12.0,0.0,0.0,10003209001,1,...,17:40:16,2016-01-29,16:48:41,9,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,23:08:25
9,PE00000001,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003201002,2,...,17:40:11,2016-01-29,16:49:17,10,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17,23:09:06
10,PE00000001,057,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,1400.0,1400.0,10003202002,2,...,17:40:11,2016-01-29,16:49:17,11,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17,23:09:06
11,PE00000001,057,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,450.0,450.0,10003203002,2,...,17:40:11,2016-01-29,16:49:17,12,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17,23:09:06
12,PE00000001,057,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,1200.0,1200.0,10003204002,2,...,17:40:11,2016-01-29,16:49:17,13,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17,23:09:06
13,PE00000001,057,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,200.0,200.0,10003205002,2,...,17:40:11,2016-01-29,16:49:17,14,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17,23:09:06
14,PE00000001,057,CANOA CONFORT AL CORTE,ESTAMPADO,12.0,12.0,200.0,200.0,10003206002,2,...,17:40:11,2016-01-29,16:49:17,15,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17,23:09:06
15,PE00000001,057,CANOA CONFORT AL CORTE,SELLOS,12.0,12.0,0.0,0.0,10003207002,2,...,17:40:11,2016-01-29,16:49:17,16,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17,23:09:06
16,PE00000001,057,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,12.0,12.0,500.0,500.0,10003208002,2,...,17:40:11,2016-01-29,16:49:17,17,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17,23:09:06
17,PE00000001,057,CANOA CONFORT AL CORTE,PLANTILLAS,12.0,12.0,0.0,0.0,10003209002,2,...,17:40:11,2016-01-29,16:49:17,18,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17,23:09:06
18,PE00000001,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,10.0,10.0,400.0,400.0,10003201003,3,...,17:41:23,2016-01-29,16:46:58,19,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58,23:05:35
19,PE00000001,057,CANOA CONFORT AL CORTE,MONTADOR,10.0,10.0,1400.0,1400.0,10003202003,3,...,17:41:23,2016-01-29,16:46:58,20,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58,23:05:35
20,PE00000001,057,CANOA CONFORT AL CORTE,COSTURA,10.0,10.0,450.0,450.0,10003203003,3,...,17:41:23,2016-01-29,16:46:58,21,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58,23:05:35
21,PE00000001,057,CANOA CONFORT AL CORTE,ARMADO,10.0,10.0,1200.0,1200.0,10003204003,3,...,17:41:23,2016-01-29,16:46:58,22,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58,23:05:35
22,PE00000001,057,CANOA CONFORT AL CORTE,CORTADO,10.0,10.0,200.0,200.0,10003205003,3,...,17:41:23,2016-01-29,16:46:58,23,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58,23:05:35
23,PE00000001,057,CANOA CONFORT AL CORTE,ESTAMPADO,10.0,10.0,200.0,200.0,10003206003,3,...,17:41:23,2016-01-29,16:46:58,24,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58,23:05:35
24,PE00000001,057,CANOA CONFORT AL CORTE,SELLOS,10.0,10.0,0.0,0.0,10003207003,3,...,17:41:23,2016-01-29,16:46:58,25,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58,23:05:35
25,PE00000001,057,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,10.0,10.0,500.0,500.0,10003208003,3,...,17:41:23,2016-01-29,16:46:58,26,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58,23:05:35
26,PE00000001,057,CANOA CONFORT AL CORTE,PLANTILLAS,10.0,10.0,0.0,0.0,10003209003,3,...,17:41:23,2016-01-29,16:46:58,27,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58,23:05:35
27,PE00000002,154,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003301001,4,...,17:38:49,2016-01-29,16:47:55,28,2016-01-25,11:04:32,2016-01-25 11:04:32,2016-01-28 17:38:49,2016-01-29 16:47:55,23:09:06
28,PE00000002,154,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,1400.0,1400.0,10003302001,4,...,17:38:49,2016-01-29,16:47:55,29,2016-01-25,11:04:32,2016-01-25 11:04:32,2016-01-28 17:38:49,2016-01-29 16:47:55,23:09:06
29,PE00000002,154,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,450.0,450.0,10003303001,4,...,17:38:49,2016-01-29,16:47:55,30,2016-01-25,11:04:32,2016-01-25 11:04:32,2016-01-28 17:38:49,2016-01-29 16:47:55,23:09:06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113798,PE00002193,053,PLANA HERRAJE 2017,COSTURA,13.0,13.0,520.0,520.0,10747903008,15340,...,NaN,2008-01-01,NaN,113808,2017-10-13,15:10:10,2017-10-13 15:10:10,NaT,NaT,NaT
113799,PE00002193,053,PLANA HERRAJE 2017,ARMADO,13.0,13.0,1350.0,1350.0,10747904008,15340,...,NaN,2008-01-01,NaN,113809,2017-10-13,15:10:10,2017-10-13 15:10:10,NaT,NaT,NaT
113800,PE00002193,053,PLANA HERRAJE 2017,CORTADO,13.0,13.0,400.0,400.0,10747905008,15340,...,NaN,2008-01-01,NaN,113810,2017-10-13,15:10:10,2017-10-13 15:10:10,NaT,NaT,NaT
113801,PE00002193,053,PLANA HERRAJE 2017,SUELAS,13.0,13.0,200.0,200.0,10747906008,15340,...,NaN,2008-01-01,NaN,113811,2017-10-13,15:10:10,2017-10-13 15:10:10,NaT,NaT,NaT
113802,PE00002193,053,PLANA HERRAJE 2017,LASER,13.0,13.0,0.0,0.0,10747907008,15340,...,NaN,2008-01-01,NaN,113812,2017-10-13,15:10:10,2017-10-13 15:10:10,NaT,NaT,NaT
113803,PE00002193,053,PLANA HERRAJE 2017,PLANTILLAS,13.0,13.0,0.0,0.0,10747908008,15340,...,NaN,2008-01-01,NaN,113813,2017-10-13,15:10:10,2017-10-13 15:10:10,NaT,NaT,NaT
113804,PE00002193,053,PLANA HERRAJE 2017,EMPLANTILLADO,13.0,13.0,400.0,400.0,10747901009,15341,...,NaN,2008-01-01,NaN,113814,2017-10-13,15:10:10,2017-10-13 15:10:10,NaT,NaT,NaT
113805,PE00002193,053,PLANA HERRAJE 2017,MONTADOR,13.0,13.0,1450.0,1450.0,10747902009,15341,...,NaN,2008-01-01,NaN,113815,2017-10-13,15:10:10,2017-10-13 15:10:10,NaT,NaT,NaT
113806,PE00002193,053,PLANA HERRAJE 2017,COSTURA,13.0,13.0,520.0,520.0,10747903009,15341,...,NaN,2008-01-01,NaN,113816,2017-10-13,15:10:10,2017-10-13 15:10:10,NaT,NaT,NaT
113807,PE00002193,053,PLANA HERRAJE 2017,ARMADO,13.0,13.0,1350.0,1350.0,10747904009,15341,...,NaN,2008-01-01,NaN,113817,2017-10-13,15:10:11,2017-10-13 15:10:11,NaT,NaT,NaT
113808,PE00002193,053,PLANA HERRAJE 2017,CORTADO,13.0,13.0,400.0,400.0,10747905009,15341,...,NaN,2008-01-01,NaN,113818,2017-10-13,15:10:11,2017-10-13 15:10:11,NaT,NaT,NaT
113809,PE00002193,053,PLANA HERRAJE 2017,SUELAS,13.0,13.0,200.0,200.0,10747906009,15341,...,NaN,2008-01-01,NaN,113819,2017-10-13,15:10:11,2017-10-13 15:10:11,NaT,NaT,NaT
113810,PE00002193,053,PLANA HERRAJE 2017,LASER,13.0,13.0,0.0,0.0,10747907009,15341,...,NaN,2008-01-01,NaN,113820,2017-10-13,15:10:11,2017-10-13 15:10:11,NaT,NaT,NaT
113811,PE00002193,053,PLANA HERRAJE 2017,PLANTILLAS,13.0,13.0,0.0,0.0,10747908009,15341,...,NaN,2008-01-01,NaN,113821,2017-10-13,15:10:11,2017-10-13 15:10:11,NaT,NaT,NaT
113812,PE00002193,053,PLANA HERRAJE 2017,EMPLANTILLADO,13.0,13.0,400.0,400.0,10747901010,15342,...,NaN,2008-01-01,NaN,113822,2017-10-13,15:10:11,2017-10-13 15:10:11,NaT,NaT,NaT
113813,PE00002193,053,PLANA HERRAJE 2017,MONTADOR,13.0,13.0,1450.0,1450.0,10747902010,15342,...,NaN,2008-01-01,NaN,113823,2017-10-13,15:10:11,2017-10-13 15:10:11,NaT,NaT,NaT
113814,PE00002193,053,PLANA HERRAJE 2017,COSTURA,13.0,13.0,520.0,520.0,10747903010,15342,...,NaN,2008-01-01,NaN,113824,2017-10-13,15:10:11,2017-10-13 15:10:11,NaT,NaT,NaT
113815,PE00002193,053,PLANA HERRAJE 2017,ARMADO,13.0,13.0,1350.0,1350.0,10747904010,15342,...,NaN,2008-01-01,NaN,113825,2017-10-13,15:10:11,2017-10-13 15:10:11,NaT,NaT,NaT
113816,PE00002193,053,PLANA HERRAJE 2017,CORTADO,13.0,13.0,400.0,400.0,10747905010,15342,...,NaN,2008-01-01,NaN,113826,2017-10-13,15:10:12,2017-10-13 15:10:12,NaT,NaT,NaT
113817,PE00002193,053,PLANA HERRAJE 2017,SUELAS,13.0,13.0,200.0,200.0,10747906010,15342,...,NaN,2008-01-01,NaN,113827,2017-10-13,15:10:12,2017-10-13 15:10:12,NaT,NaT,NaT
113818,PE00002193,053,PLANA HERRAJE 2017,LASER,13.0,13.0,0.0,0.0,10747907010,15342,...,NaN,2008-01-01,NaN,113828,2017-10-13,15:10:12,2017-10-13 15:10:12,NaT,NaT,NaT
113819,PE00002193,053,PLANA HERRAJE 2017,PLANTILLAS,13.0,13.0,0.0,0.0,10747908010,15342,...,NaN,2008-01-01,NaN,113829,2017-10-13,15:10:12,2017-10-13 15:10:12,NaT,NaT,NaT
113820,PE00002193,053,LASER,EMPLANTILLADO,13.0,13.0,400.0,400.0,10747901011,15343,...,NaN,2008-01-01,NaN,113830,2017-10-13,15:10:12,2017-10-13 15:10:12,NaT,NaT,NaT
113821,PE00002193,053,LASER,MONTADOR,13.0,13.0,1450.0,1450.0,10747902011,15343,...,NaN,2008-01-01,NaN,113831,2017-10-13,15:10:12,2017-10-13 15:10:12,NaT,NaT,NaT
113822,PE00002193,053,LASER,COSTURA,13.0,13.0,520.0,520.0,10747903011,15343,...,NaN,2008-01-01,NaN,113832,2017-10-13,15:10:12,2017-10-13 15:10:12,NaT,NaT,NaT
113823,PE00002193,053,LASER,ARMADO,13.0,13.0,1250.0,1250.0,10747904011,15343,...,NaN,2008-01-01,NaN,113833,2017-10-13,15:10:12,2017-10-13 15:10:12,NaT,NaT,NaT
113824,PE00002193,053,LASER,CORTADO,13.0,13.0,400.0,400.0,10747905011,15343,...,NaN,2008-01-01,NaN,113834,2017-10-13,15:10:13,2017-10-13 15:10:13,NaT,NaT,NaT
113825,PE00002193,053,LASER,SUELAS,13.0,13.0,200.0,200.0,10747906011,15343,...,NaN,2008-01-01,NaN,113835,2017-10-13,15:10:13,2017-10-13 15:10:13,NaT,NaT,NaT
113826,PE00002193,053,LASER,PLANTILLAS,13.0,13.0,0.0,0.0,10747907011,15343,...,NaN,2008-01-01,NaN,113836,2017-10-13,15:10:13,2017-10-13 15:10:13,NaT,NaT,NaT
113827,PE00002193,053,LASER,LASER,13.0,13.0,0.0,0.0,10747908011,15343,...,NaN,2008-01-01,NaN,113837,2017-10-13,15:10:13,2017-10-13 15:10:13,NaT,NaT,NaT

### Buscamos cantidad de valores null en cada columna

Debido a que al tomar la diferencia entre Inicio y Fin de Operación tenemos valores nulos, buscamos cuántos valores nulos tiene cada columna

In [111]:
def porcent_null(df):
    # Función que determina el porcentaje de registros nulos
    df = (df.isnull().sum()/len(df))*100
    return df[df > 0]

porcent_null(df)

NROFAVE      1.641072
CODCLI       1.641072
HORATICK     3.369118
HORAITT     84.159434
HORAFTT     32.477071
HORAIOPE    10.920863
HORAFOPE    16.073374
TIMEIOPE    10.920863
TIMEFOPE    16.073374
TIMEDIF     16.095337
dtype: float64

### Agrupamos columnas buscando patrones

+ La intención es determinar el rendimiento de cada operador, por lo que analizar las columnas con registros de FECHA y HORA son una excelente base para este análisis
+ Buscamos las columnas que no tengan registros Nulos y contengan FECHA y/o HORA

In [40]:
df.loc[:,df.columns.str.contains("HORA|FECHA")].isnull().sum()

FECHATICK        0
HORATICK      3835
FECHAITT         0
HORAITT      95797
FECHAFTT         0
HORAFTT      36968
FECHAIOPE        0
HORAIOPE     12431
FECHAFOPE        0
HORAFOPE     18296
FECHA            0
HORA             0
dtype: int64

In [41]:
df.groupby('FECHATICK').count().head()

,NROFAVE,CODCLI,CODPP,CODOPE,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,NROTICKC,...,HORAIOPE,FECHAFOPE,HORAFOPE,IDPROTICKETS,FECHA,HORA,TIMESTAMP,TIMEIOPE,TIMEFOPE,TIMEDIF
FECHATICK,,,,,,,,,,,,,,,,,,,,,
2008-01-01,1967,1967,3835,3835,3835,3835,3835,3835,3835,3835,...,0,3835,0,3835,3835,3835,3835,0,0,0
2016-01-25,315,315,315,315,315,315,315,315,315,315,...,315,315,315,315,315,315,315,315,315,315
2016-01-28,54,54,54,54,54,54,54,54,54,54,...,54,54,54,54,54,54,54,54,54,54
2016-01-29,276,276,276,276,276,276,276,276,276,276,...,264,276,245,276,276,276,276,264,245,245
2016-02-01,572,572,572,572,572,572,572,572,572,572,...,447,572,426,572,572,572,572,447,426,426

In [42]:
df.groupby('FECHAITT').count().head()

,NROFAVE,CODCLI,CODPP,CODOPE,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,NROTICKC,...,HORAIOPE,FECHAFOPE,HORAFOPE,IDPROTICKETS,FECHA,HORA,TIMESTAMP,TIMEIOPE,TIMEFOPE,TIMEDIF
FECHAITT,,,,,,,,,,,,,,,,,,,,,
2008-01-01,93929,93929,95797,95797,95797,95797,95797,95797,95797,95797,...,83370,95797,78655,95797,95797,95797,95797,83370,78655,78634
2016-01-29,60,60,60,60,60,60,60,60,60,60,...,60,60,60,60,60,60,60,60,60,60
2016-01-30,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
2016-02-02,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
2016-02-08,137,137,137,137,137,137,137,137,137,137,...,137,137,136,137,137,137,137,137,136,136

In [43]:
df.groupby('FECHAFTT').count().head()

,NROFAVE,CODCLI,CODPP,CODOPE,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,NROTICKC,...,HORAIOPE,FECHAFOPE,HORAFOPE,IDPROTICKETS,FECHA,HORA,TIMESTAMP,TIMEIOPE,TIMEFOPE,TIMEDIF
FECHAFTT,,,,,,,,,,,,,,,,,,,,,
2008-01-01,34467,34467,36335,36335,36335,36335,36335,36335,36335,36335,...,23969,36335,20759,36335,36335,36335,36335,23969,20759,20751
2016-01-28,35,35,35,35,35,35,35,35,35,35,...,35,35,35,35,35,35,35,35,35,35
2016-01-29,119,119,119,119,119,119,119,119,119,119,...,119,119,119,119,119,119,119,119,119,119
2016-01-30,55,55,55,55,55,55,55,55,55,55,...,55,55,55,55,55,55,55,55,55,55
2016-02-02,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14

In [44]:
df.groupby('FECHAIOPE').count().head()

,NROFAVE,CODCLI,CODPP,CODOPE,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,NROTICKC,...,HORAIOPE,FECHAFOPE,HORAFOPE,IDPROTICKETS,FECHA,HORA,TIMESTAMP,TIMEIOPE,TIMEFOPE,TIMEDIF
FECHAIOPE,,,,,,,,,,,,,,,,,,,,,
2008-01-01,10563,10563,12431,12431,12431,12431,12431,12431,12431,12431,...,0,12431,25,12431,12431,12431,12431,0,25,0
2016-01-28,315,315,315,315,315,315,315,315,315,315,...,315,315,315,315,315,315,315,315,315,315
2016-01-29,54,54,54,54,54,54,54,54,54,54,...,54,54,54,54,54,54,54,54,54,54
2016-02-08,522,522,522,522,522,522,522,522,522,522,...,522,522,516,522,522,522,522,522,516,516
2016-02-09,18,18,18,18,18,18,18,18,18,18,...,18,18,18,18,18,18,18,18,18,18

In [45]:
df.groupby('FECHAFOPE').count().head()

,NROFAVE,CODCLI,CODPP,CODOPE,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,NROTICKC,...,FECHAIOPE,HORAIOPE,HORAFOPE,IDPROTICKETS,FECHA,HORA,TIMESTAMP,TIMEIOPE,TIMEFOPE,TIMEDIF
FECHAFOPE,,,,,,,,,,,,,,,,,,,,,
2008-01-01,16428,16428,18296,18296,18296,18296,18296,18296,18296,18296,...,18296,5890,0,18296,18296,18296,18296,5890,0,0
2016-01-29,315,315,315,315,315,315,315,315,315,315,...,315,315,315,315,315,315,315,315,315,315
2016-02-08,72,72,72,72,72,72,72,72,72,72,...,72,72,72,72,72,72,72,72,72,72
2016-02-09,204,204,204,204,204,204,204,204,204,204,...,204,204,204,204,204,204,204,204,204,204
2016-02-10,222,222,222,222,222,222,222,222,222,222,...,222,222,222,222,222,222,222,222,222,222

Observamos que en todos los casos tenemos registros de **2008-01-01** por lo cual utilizar estas columnas para analizar el rendimiento de los operadores no es confiable, así pues descartamos los registros que contengan esta fecha en las columnas **FECHAIOPE** y **FECHAFOPE**

In [46]:
df_filtrado = df[(df['FECHAIOPE'] != '2008-01-01') & (df['FECHAFOPE'] != '2008-01-01')]
df_filtrado.head()

,NROFAVE,CODCLI,CODPP,CODOPE,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,NROTICKC,...,HORAIOPE,FECHAFOPE,HORAFOPE,IDPROTICKETS,FECHA,HORA,TIMESTAMP,TIMEIOPE,TIMEFOPE,TIMEDIF
0,PE00000001,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003201001,1,...,17:40:16,2016-01-29,16:48:41,1,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,23:08:25
1,PE00000001,057,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,1400.0,1400.0,10003202001,1,...,17:40:16,2016-01-29,16:48:41,2,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,23:08:25
2,PE00000001,057,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,450.0,450.0,10003203001,1,...,17:40:16,2016-01-29,16:48:41,3,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,23:08:25
3,PE00000001,057,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,1200.0,1200.0,10003204001,1,...,17:40:16,2016-01-29,16:48:41,4,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,23:08:25
4,PE00000001,057,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,200.0,200.0,10003205001,1,...,17:40:16,2016-01-29,16:48:41,5,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,23:08:25

**IMPORTANTE: ** Al hacer este filtrado, perdemos el **16%** de los datos

In [47]:
1-float(len(df_filtrado))/float(len(original))

0.16095336823980044

### Rendimiento por tipo de Operador

In [48]:
df_filtrado.groupby(["CODOPE","NROTICKC","TIMEDIF"]).sum().head()

                          CANVEN  CANOPE  COSTOOPE  COSTOOPEC       TICKET  \
CODOPE NROTICKC TIMEDIF
ARMADO 1        23:08:25    12.0    12.0    1200.0     1200.0  10003204001
       2        23:09:06    12.0    12.0    1200.0     1200.0  10003204002
       3        23:05:35    10.0    10.0    1200.0     1200.0  10003204003
       4        23:09:06    12.0    12.0    1200.0     1200.0  10003304001
       5        23:08:23    12.0    12.0    1200.0     1200.0  10003304002

                          IDPROTICKETS
CODOPE NROTICKC TIMEDIF
ARMADO 1        23:08:25             4
       2        23:09:06            13
       3        23:05:35            22
       4        23:09:06            31
       5        23:08:23            40

+ Este filtrado no funciona porque cuando se registra un TICKET se registra al mismo tiempo con la misma información temporal para cada operador

### Rendimiento por Ticket
+ Ahora filtramos sólo el ńumero de ticket y el tiempo en resolverlo

In [49]:
df_filtrado.groupby(["NROTICKC","TIMEDIF"]).sum().head()

,,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,IDPROTICKETS
NROTICKC,TIMEDIF,,,,,,
1,23:08:25,108.0,108.0,4350.0,4350.0,90028845009,45
2,23:09:06,108.0,108.0,4350.0,4350.0,90028845018,126
3,23:05:35,90.0,90.0,4350.0,4350.0,90028845027,207
4,23:09:06,108.0,108.0,4350.0,4350.0,90029745009,288
5,23:08:23,108.0,108.0,4350.0,4350.0,90029745018,369

+ ¿Cuánto tiempo tarda en completar un pedido de un cliente?
+ ¿Un Ticket es un pedido?, ¿Cómo se codifica un pedido?

In [50]:
df_filtrado[(df_filtrado['CODCLI'].str.contains("00003")) & (df_filtrado['NROTICKC'] == 630)].head()

,NROFAVE,CODCLI,CODPP,CODOPE,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,NROTICKC,...,HORAIOPE,FECHAFOPE,HORAFOPE,IDPROTICKETS,FECHA,HORA,TIMESTAMP,TIMEIOPE,TIMEFOPE,TIMEDIF
4369,PE00000114,00003,PLANA AL CORTE,SUELAS,12.0,12.0,450.0,450.0,10040401003,630,...,20:11:08,2016-03-14,10:41:47,4370,2016-02-23,15:41:05,2016-02-23 15:41:05,2016-02-27 20:11:08,2016-03-14 10:41:47,15 days 14:30:39
4370,PE00000114,00003,PLANA AL CORTE,EMPLANTILLADO,12.0,12.0,350.0,350.0,10040402003,630,...,20:11:08,2016-03-14,10:41:47,4371,2016-02-23,15:41:05,2016-02-23 15:41:05,2016-02-27 20:11:08,2016-03-14 10:41:47,15 days 14:30:39
4371,PE00000114,00003,PLANA AL CORTE,MONTADOR,12.0,12.0,1300.0,1300.0,10040403003,630,...,20:11:08,2016-03-14,10:41:47,4372,2016-02-23,15:41:05,2016-02-23 15:41:05,2016-02-27 20:11:08,2016-03-14 10:41:47,15 days 14:30:39
4372,PE00000114,00003,PLANA AL CORTE,COSTURA,12.0,12.0,500.0,500.0,10040404003,630,...,20:11:08,2016-03-14,10:41:47,4373,2016-02-23,15:41:05,2016-02-23 15:41:05,2016-02-27 20:11:08,2016-03-14 10:41:47,15 days 14:30:39
4373,PE00000114,00003,PLANA AL CORTE,ARMADO,12.0,12.0,1300.0,1300.0,10040405003,630,...,20:11:08,2016-03-14,10:41:47,4374,2016-02-23,15:41:05,2016-02-23 15:41:05,2016-02-27 20:11:08,2016-03-14 10:41:47,15 days 14:30:39

+ Agrupamos por **cliente**, **número de ticket**, **tiempo en realizar el ticket** y el **código de procesos de producción** (Modelo?) para comprender el tiempo que tarda en realizar un pedido en particular para cada cliente.

In [51]:
df_filtrado.groupby(["CODCLI","NROTICKC","TIMEDIF","CODPP"]).mean().head()

                                                             CANVEN  CANOPE  \
CODCLI NROTICKC TIMEDIF          CODPP
00003  630      15 days 14:30:39 PLANA AL CORTE                12.0    12.0
       631      39 days 19:31:31 PLANA AL CORTE                12.0    12.0
       632      17 days 01:34:15 PLANA AL CORTE                12.0    12.0
       876      4 days 06:43:04  CONFORT YUTE AL CORTE 2016    12.0    12.0
       877      5 days 03:02:06  CONFORT YUTE AL CORTE 2016    12.0    12.0

                                                               COSTOOPE  \
CODCLI NROTICKC TIMEDIF          CODPP
00003  630      15 days 14:30:39 PLANA AL CORTE              691.666667
       631      39 days 19:31:31 PLANA AL CORTE              691.666667
       632      17 days 01:34:15 PLANA AL CORTE              691.666667
       876      4 days 06:43:04  CONFORT YUTE AL CORTE 2016  708.333333
       877      5 days 03:02:06  CONFORT YUTE AL CORTE 2016  708.333333

                                                              COSTOOPEC  \
CODCLI NROTICKC TIMEDIF          CODPP
00003  630      15 days 14:30:39 PLANA AL CORTE              691.666667
       631      39 days 19:31:31 PLANA AL CORTE              691.666667
       632      17 days 01:34:15 PLANA AL CORTE              691.666667
       876      4 days 06:43:04  CONFORT YUTE AL CORTE 2016  708.333333
       877      5 days 03:02:06  CONFORT YUTE AL CORTE 2016  708.333333

                                                                   TICKET  \
CODCLI NROTICKC TIMEDIF          CODPP
00003  630      15 days 14:30:39 PLANA AL CORTE              1.004040e+10
       631      39 days 19:31:31 PLANA AL CORTE              1.004040e+10
       632      17 days 01:34:15 PLANA AL CORTE              1.004040e+10
       876      4 days 06:43:04  CONFORT YUTE AL CORTE 2016  1.005230e+10
       877      5 days 03:02:06  CONFORT YUTE AL CORTE 2016  1.005230e+10

                                                             IDPROTICKETS
CODCLI NROTICKC TIMEDIF          CODPP
00003  630      15 days 14:30:39 PLANA AL CORTE                    4372.5
       631      39 days 19:31:31 PLANA AL CORTE                    4378.5
       632      17 days 01:34:15 PLANA AL CORTE                    4384.5
       876      4 days 06:43:04  CONFORT YUTE AL CORTE 2016        5953.5
       877      5 days 03:02:06  CONFORT YUTE AL CORTE 2016        5959.5

In [52]:
df_time_tickets = df_filtrado.groupby(["FECHAIOPE","FECHAFOPE","NROTICKC","TIMEDIF"]).mean()
df_time_tickets.head()

                                         CANVEN  CANOPE    COSTOOPE  \
FECHAIOPE  FECHAFOPE  NROTICKC TIMEDIF
2016-01-28 2016-01-29 1        23:08:25    12.0    12.0  483.333333
                      2        23:09:06    12.0    12.0  483.333333
                      3        23:05:35    10.0    10.0  483.333333
                      4        23:09:06    12.0    12.0  483.333333
                      5        23:08:23    12.0    12.0  483.333333

                                          COSTOOPEC        TICKET  \
FECHAIOPE  FECHAFOPE  NROTICKC TIMEDIF
2016-01-28 2016-01-29 1        23:08:25  483.333333  1.000321e+10
                      2        23:09:06  483.333333  1.000321e+10
                      3        23:05:35  483.333333  1.000321e+10
                      4        23:09:06  483.333333  1.000331e+10
                      5        23:08:23  483.333333  1.000331e+10

                                         IDPROTICKETS
FECHAIOPE  FECHAFOPE  NROTICKC TIMEDIF
2016-01-28 2016-01-29 1        23:08:25           5.0
                      2        23:09:06          14.0
                      3        23:05:35          23.0
                      4        23:09:06          32.0
                      5        23:08:23          41.0

In [53]:
df_4 = df_time_tickets.reset_index()
df_4.head()

,FECHAIOPE,FECHAFOPE,NROTICKC,TIMEDIF,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,IDPROTICKETS
0,2016-01-28,2016-01-29,1,23:08:25,12.0,12.0,483.333333,483.333333,1.000321e+10,5.0
1,2016-01-28,2016-01-29,2,23:09:06,12.0,12.0,483.333333,483.333333,1.000321e+10,14.0
2,2016-01-28,2016-01-29,3,23:05:35,10.0,10.0,483.333333,483.333333,1.000321e+10,23.0
3,2016-01-28,2016-01-29,4,23:09:06,12.0,12.0,483.333333,483.333333,1.000331e+10,32.0
4,2016-01-28,2016-01-29,5,23:08:23,12.0,12.0,483.333333,483.333333,1.000331e+10,41.0

In [54]:
df_4['TIMEDIF'] = df_4['TIMEDIF'].dt.total_seconds()
df_4.head()

,FECHAIOPE,FECHAFOPE,NROTICKC,TIMEDIF,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,IDPROTICKETS
0,2016-01-28,2016-01-29,1,83305.0,12.0,12.0,483.333333,483.333333,1.000321e+10,5.0
1,2016-01-28,2016-01-29,2,83346.0,12.0,12.0,483.333333,483.333333,1.000321e+10,14.0
2,2016-01-28,2016-01-29,3,83135.0,10.0,10.0,483.333333,483.333333,1.000321e+10,23.0
3,2016-01-28,2016-01-29,4,83346.0,12.0,12.0,483.333333,483.333333,1.000331e+10,32.0
4,2016-01-28,2016-01-29,5,83303.0,12.0,12.0,483.333333,483.333333,1.000331e+10,41.0

In [55]:
aggregator = {'NROTICKC' : 'count',
              'TIMEDIF' : 'mean'}

df_4_new = df_4.groupby(['FECHAIOPE', 'FECHAFOPE']).agg(aggregator)
df_4_new.head()

                            TIMEDIF  NROTICKC
FECHAIOPE  FECHAFOPE
2016-01-28 2016-01-29  8.448034e+04        35
2016-01-29 2016-02-10  1.028294e+06         6
2016-02-08 2016-02-08  2.432750e+03        12
           2016-02-09  7.863694e+04        32
           2016-02-10  1.472163e+05        26

In [56]:
df_4_new['TIMEDIF'] = pd.DataFrame(pd.to_timedelta(df_4_new.TIMEDIF.astype(int), unit='s'))
df_4_new.head()

                               TIMEDIF  NROTICKC
FECHAIOPE  FECHAFOPE
2016-01-28 2016-01-29  0 days 23:28:00        35
2016-01-29 2016-02-10 11 days 21:38:14         6
2016-02-08 2016-02-08  0 days 00:40:32        12
           2016-02-09  0 days 21:50:36        32
           2016-02-10  1 days 16:53:36        26

In [57]:
df_5 = df_4_new[df_4_new['TIMEDIF'] < pd.Timedelta('7 days 00:00:00')].reset_index()
df_5.head()

    FECHAIOPE   FECHAFOPE         TIMEDIF  NROTICKC
0  2016-01-28  2016-01-29 0 days 23:28:00        35
1  2016-02-08  2016-02-08 0 days 00:40:32        12
2  2016-02-08  2016-02-09 0 days 21:50:36        32
3  2016-02-08  2016-02-10 1 days 16:53:36        26
4  2016-02-08  2016-02-11 2 days 20:06:37         4

In [58]:
df_5['WEEKIOPE'] = pd.DataFrame(pd.DatetimeIndex(df_5['FECHAIOPE'])).FECHAIOPE.dt.week
df_5.head()

    FECHAIOPE   FECHAFOPE         TIMEDIF  NROTICKC  WEEKIOPE
0  2016-01-28  2016-01-29 0 days 23:28:00        35         4
1  2016-02-08  2016-02-08 0 days 00:40:32        12         6
2  2016-02-08  2016-02-09 0 days 21:50:36        32         6
3  2016-02-08  2016-02-10 1 days 16:53:36        26         6
4  2016-02-08  2016-02-11 2 days 20:06:37         4         6

In [59]:
df_5['WEEKFOPE'] = pd.DataFrame(pd.DatetimeIndex(df_5['FECHAFOPE'])).FECHAFOPE.dt.week

In [60]:
df_2016 = df_5[pd.to_datetime(df_5['FECHAIOPE']) < pd.to_datetime('2017-01-01')]
df_2016.groupby('WEEKFOPE').sum().head()

          NROTICKC  WEEKIOPE
WEEKFOPE
4               35         4
6               78        42
7              109        66
8              124       165
9               32        59

In [61]:
def plot_bar(x,y,title,x_axis,y_axis,marker):

    data = [go.Bar(
              x=x,
              y=y,    
        marker=marker,
    opacity=0.6
    
    )]
    
    layout = go.Layout(
        title=title,
        xaxis=dict(
            title=x_axis,
            titlefont=dict(
                family='Courier New, monospace',
                size=18,
                color='#7f7f7f'
            )
        ),
        yaxis=dict(
            title=y_axis,
            titlefont=dict(
                family='Courier New, monospace',
                size=18,
                color='#7f7f7f'
            )
        )
    )
    fig = go.Figure(data=data, layout=layout)
    return py.iplot(fig, filename=title)

In [62]:
plot_bar(df_2016.groupby('WEEKFOPE').sum().index,df_2016.groupby('WEEKFOPE').sum()['NROTICKC'].values.tolist(),'Tickets realizados <7 días por semana 2016','Semana del año','Cantidad de Tickets',dict(
        color='rgb(58,200,225)',
        line=dict(
            color='rgb(8,48,107)',
            width=1.5),
        ))

In [63]:
df_2017 = df_5[pd.to_datetime(df_5['FECHAIOPE']) > pd.to_datetime('2017-01-01')]
df_2017.groupby('WEEKFOPE').sum().head()

          NROTICKC  WEEKIOPE
WEEKFOPE
6               26         6
8               43        66
9               31        50
10             112       215
11             206       197

In [64]:
df_2016_total =  df_2016.groupby('WEEKFOPE').sum()
df_2016_total.head()

          NROTICKC  WEEKIOPE
WEEKFOPE
4               35         4
6               78        42
7              109        66
8              124       165
9               32        59

In [65]:
df_2017_total =  df_2017.groupby('WEEKFOPE').sum()
df_2017_total.head()

          NROTICKC  WEEKIOPE
WEEKFOPE
6               26         6
8               43        66
9               31        50
10             112       215
11             206       197

In [67]:
pd.concat([df_filtrado.groupby(['FECHAIOPE']).NROTICKC.nunique()
    ,df_filtrado.groupby(['FECHAFOPE']).NROTICKC.nunique()], axis=1,).head()

            NROTICKC  NROTICKC
2016-01-28      35.0       NaN
2016-01-29       6.0      35.0
2016-02-08      85.0      12.0
2016-02-09       3.0      34.0
2016-02-10       1.0      34.0

In [68]:
def plot_time_line_v2(x,y,title,x_axis,y_axis):

    data = [go.Scatter(
              x=x,
              y=y)]
    
    layout = go.Layout(
        title=title,
        xaxis=dict(
            title=x_axis,
            titlefont=dict(
                family='Courier New, monospace',
                size=18,
                color='#7f7f7f'
            )
        ),
        yaxis=dict(
            title=y_axis,
            titlefont=dict(
                family='Courier New, monospace',
                size=18,
                color='#7f7f7f'
            )
        )
    )
    fig = go.Figure(data=data, layout=layout)
    return py.iplot(fig, filename=title)

In [69]:
def plot_time_line_two_v2(x1,y1,x2,y2,title,x_axis,y_axis,n1,n2):

    trace1 = go.Scatter(
        x=x1,
        y=y1,
        name=n1
    )
    trace2 = go.Scatter(
        x=x2,
        y=y2,
        name=n2
    )
    data = [trace1, trace2]
    
    layout = go.Layout(
        title=title,
        xaxis=dict(
            title=x_axis,
            titlefont=dict(
                family='Courier New, monospace',
                size=18,
                color='#7f7f7f'
            )
        ),
        yaxis=dict(
            title=y_axis,
            titlefont=dict(
                family='Courier New, monospace',
                size=18,
                color='#7f7f7f'
            )
        )
    )
    fig = go.Figure(data=data, layout=layout)
    return py.iplot(fig, filename=title)

In [70]:
plot_time_line_v2(df_filtrado.groupby(['FECHAIOPE']).NROTICKC.nunique().index,
                 df_filtrado.groupby(['FECHAIOPE']).NROTICKC.nunique().values.tolist(),
                 'Tickets Iniciados 2016 a 2017','Tiempo','Tickets')

In [71]:
plot_time_line_v2(df_filtrado.groupby(['FECHAFOPE']).NROTICKC.nunique().index,
                 df_filtrado.groupby(['FECHAFOPE']).NROTICKC.nunique().values.tolist(),
                 'Tickets Completados 2016 a 2017','Tiempo','Tickets')

In [72]:
df_temp_1 = pd.concat([df_filtrado.groupby(['FECHAIOPE']).NROTICKC.nunique()
    ,df_filtrado.groupby(['FECHAFOPE']).NROTICKC.nunique()], axis=1)

plot_time_line_two_v2(df_temp_1.index,df_temp_1.iloc[:,0],
                      df_temp_1.index,df_temp_1.iloc[:,1],
                      'Tickets 2016 a 2017','Tiempo','Tickets','Iniciados','Completados'
                     )

In [88]:
df_temp_1.to_csv('Tickets_Start_End_2016-vs-2017')

In [73]:
def plot_two_bar(x,y,y2,t1_nam,t2_nam,x_axis,y_axis,title):

    x = x
    y = y
    y2 = y2

    trace1 = go.Bar(
        x=x,
        y=y,
        name=t1_nam,
        textposition = 'auto',
        marker=dict(
            color='rgb(158,202,225)',
            line=dict(
                color='rgb(8,48,107)',
                width=1.5),
            ),
        opacity=0.6
    )

    trace2 = go.Bar(
        x=x,
        y=y2,
        name=t2_nam,
        textposition = 'auto',
        marker=dict(
            color='rgb(58,200,225)',
            line=dict(
                color='rgb(8,48,107)',
                width=1.5),
            ),
        opacity=0.6
    )

    data = [trace1,trace2]

    layout = go.Layout(
        title=title,
        xaxis=dict(
            title=x_axis,
            titlefont=dict(
                family='Courier New, monospace',
                size=18,
                color='#7f7f7f'
            )
        ),
        yaxis=dict(
            title=y_axis,
            titlefont=dict(
                family='Courier New, monospace',
                size=18,
                color='#7f7f7f'
            )
        )
    )
    fig = go.Figure(data=data, layout=layout)
    return py.iplot(fig, filename=title)

In [74]:
df_2016_2017_tickets = pd.concat([df_2016_total,df_2017_total], axis=1)

plot_two_bar(df_2016_2017_tickets.index,
df_2016_2017_tickets.iloc[:,0],
df_2016_2017_tickets.iloc[:,2],'2016','2017','Semana','Tickets','Tickets <7 días 2016 vs 2017')

In [75]:
df_1d      = df_4_new[df_4_new['TIMEDIF'] < pd.Timedelta('1 days 00:00:00')].reset_index()
df_1d_3d   = df_4_new[(df_4_new['TIMEDIF'] > pd.Timedelta('1 days 00:00:00')) & (df_4_new['TIMEDIF'] < pd.Timedelta('3 days 00:00:00'))].reset_index()
df_3d_7d   = df_4_new[(df_4_new['TIMEDIF'] > pd.Timedelta('3 days 00:00:00')) & (df_4_new['TIMEDIF'] < pd.Timedelta('7 days 00:00:00'))].reset_index()
df_7d_10d  = df_4_new[(df_4_new['TIMEDIF'] > pd.Timedelta('7 days 00:00:00')) & (df_4_new['TIMEDIF'] < pd.Timedelta('10 days 00:00:00'))].reset_index()
df_10d_14d = df_4_new[(df_4_new['TIMEDIF'] > pd.Timedelta('10 days 00:00:00')) & (df_4_new['TIMEDIF'] < pd.Timedelta('14 days 00:00:00'))].reset_index()
df_14d     = df_4_new[df_4_new['TIMEDIF'] > pd.Timedelta('14 days 00:00:00')].reset_index()

In [76]:
meses = ['01 Enero','02 Febrero','03 Marzo','04 Abril','05 Mayo','06 Junio','07 Julio','08 Agosto','09 Septiembre','10 Octubre','11 Noviembre','12 Diciembre']

In [77]:
df_1d.head()

    FECHAIOPE   FECHAFOPE  TIMEDIF  NROTICKC
0  2016-01-28  2016-01-29 23:28:00        35
1  2016-02-08  2016-02-08 00:40:32        12
2  2016-02-08  2016-02-09 21:50:36        32
3  2016-02-09  2016-02-09 07:23:53         2
4  2016-02-09  2016-02-10 17:41:29         1

In [78]:
def nombres_meses(df):
    list_temp = []
    # Determinados el mes de cada fecha
    df['MONTHFOPE'] = pd.DataFrame(pd.DatetimeIndex(df['FECHAFOPE'])).FECHAFOPE.dt.month

    for i in df['MONTHFOPE']:
        for j in range(1,len(meses)+1):
            if i==j:
                list_temp.append(meses[j-1])

    df['MONTHFOPE'] = list_temp
    return df

In [79]:
mesesitos = [df_1d,df_1d_3d,df_3d_7d,df_7d_10d,df_10d_14d,df_14d]

for i in range(len(mesesitos)):
    nombres_meses(mesesitos[i])

In [80]:
def filtro_ano(df,ano):
    return df[(pd.to_datetime(df['FECHAIOPE']) > pd.to_datetime(ano+'-01-01'))&(pd.to_datetime(df['FECHAIOPE']) < pd.to_datetime(str(int(ano)+1)+'-01-01'))]

In [81]:
def ticktes_mes(year):
    list_df = []
    for i in range(len(mesesitos)):
        list_df.append(filtro_ano(mesesitos[i],year).groupby(['MONTHFOPE']).sum().reset_index())

    list_df[0]['RANGE'] = '< 1 día'
    list_df[1]['RANGE'] = '1 a 3 días'
    list_df[2]['RANGE'] = '3 a 7 días'
    list_df[3]['RANGE'] = '7 a 10 días'
    list_df[4]['RANGE'] = '10 a 14 días'
    list_df[5]['RANGE'] = '> 14 días'

    return pd.concat([list_df[0],list_df[1],list_df[2],list_df[3],list_df[4],list_df[5]])

In [92]:
tickets_performance_2016 = ticktes_mes('2016')
tickets_performance_2017 = ticktes_mes('2017')

tickets_performance_2016.to_csv('tickets_performance_2016')
tickets_performance_2017.to_csv('tickets_performance_2017')

In [83]:
tickets_sum_2016_2017 = pd.concat([tickets_performance_2016.groupby('MONTHFOPE').sum(),tickets_performance_2017.groupby('MONTHFOPE').sum()], axis=1)

plot_two_bar(tickets_sum_2016_2017.index,
tickets_sum_2016_2017.iloc[:,0],
tickets_sum_2016_2017.iloc[:,1],'2016','2017','Mes','Tickets','Total de Tickets 2016 vs 2017')

In [91]:
tickets_sum_2016_2017.to_csv('tickets_total_2016-vs-2017')

In [84]:
def plot_heatmap(df,x_nam,y_nam,title):
    data = [
        go.Heatmap(
            z=df.iloc[:,1],
            x=df.iloc[:,0],
            y=df.iloc[:,2],
            colorscale='Viridis',
        )
    ]

    layout = go.Layout(
        title=title,
        xaxis = dict(title=x_nam),
        yaxis = dict(title=y_nam)
    )

    fig = go.Figure(data=data, layout=layout)
    return py.iplot(fig, filename=title)

In [85]:
plot_heatmap(tickets_performance_2016,'Mes','Rango','Rendimiento Tickets 2016')

In [86]:
plot_heatmap(tickets_performance_2017,'Mes','Rango','Rendimiento Tickets 2017')

In [87]:
def mean_time(df):
    df['TIMEDIF'] = df['TIMEDIF'].dt.total_seconds()

    aggregator = {'NROTICKC' : 'sum',
                  'TIMEDIF' : 'mean'}

    df_new = nombres_meses(df).groupby('MONTHFOPE').agg(aggregator)

    df_new['TIMEDIF'] = pd.DataFrame(pd.to_timedelta(df_new.TIMEDIF.astype(int), unit='s'))
    return df_new

In [98]:
df.columns

Index([u'NROFAVE', u'CODCLI', u'CODPP', u'CODOPE', u'CANVEN', u'CANOPE',
       u'COSTOOPE', u'COSTOOPEC', u'TICKET', u'NROTICKC', u'FECHATICK',
       u'HORATICK', u'FECHAITT', u'HORAITT', u'FECHAFTT', u'HORAFTT',
       u'FECHAIOPE', u'HORAIOPE', u'FECHAFOPE', u'HORAFOPE', u'IDPROTICKETS',
       u'FECHA', u'HORA', u'TIMESTAMP', u'TIMEIOPE', u'TIMEFOPE', u'TIMEDIF'],
      dtype='object')

In [106]:
df.groupby('CODCLI').sum()

,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,NROTICKC,IDPROTICKETS
CODCLI,,,,,,,
00003,5474.0,5474.0,277660.0,290160.0,4681332260422,2769890,19438542
002,8869.0,8869.0,418120.0,443570.0,6847521690886,3496127,24371279
003,3508.0,3508.0,160070.0,181570.0,2938863855983,2147211,15155859
004,2500.0,2500.0,106070.0,126820.0,2079393219682,1824578,12961305
005,1828.0,1828.0,74430.0,95180.0,1479955167458,1041856,7211745
006,3984.0,3984.0,182570.0,204070.0,3296393696188,2237420,15774744
007,2982.0,2982.0,138380.0,151430.0,2559650425951,1794652,12862254
008,4778.0,4778.0,210330.0,235830.0,3816409288478,2343799,16320239
009,2559.0,2559.0,114290.0,117490.0,2071699964535,1462144,10376984
010,2895.0,2895.0,131850.0,135800.0,2317211148595,1530003,10839141
0100,1356.0,1356.0,66590.0,66590.0,1159499663470,1136070,8178451
0101,10907.0,10907.0,557640.0,549240.0,8993713785141,7180060,50685791
0102,5380.0,5380.0,275500.0,274450.0,4386588286045,3512590,24537623
0103,6560.0,6560.0,333240.0,334040.0,5401752786305,3845423,26874143
0104,3616.0,3616.0,165150.0,169050.0,2928818497275,2495897,17562460
0105,1360.0,1360.0,70600.0,78900.0,1216396409399,463627,3194876
0106,3600.0,3600.0,176900.0,176900.0,3117867100229,3167202,22785928
0108,1390.0,1390.0,87010.0,87010.0,1327100290485,453361,3098459
0109,1672.0,1672.0,90630.0,95030.0,1660978481650,1492210,10616313
011,5542.0,5542.0,231930.0,252880.0,4089180540842,1071618,7239495
0110,1672.0,1672.0,90630.0,95030.0,1660981481650,1492308,10616637
0111,2752.0,2752.0,132130.0,136530.0,2594241917120,2046576,14391036
0112,4808.0,4808.0,309950.0,302750.0,3408108679864,2216944,15149916
0114,1840.0,1840.0,91350.0,99650.0,1635961489519,813315,5612999
0115,2360.0,2360.0,139050.0,139050.0,2154022596836,519840,3534364
0116,1608.0,1608.0,103760.0,103810.0,1778222896875,1415793,10072939
0117,1536.0,1536.0,81600.0,82200.0,1423107977400,750144,5315473
0118,456.0,456.0,21450.0,21450.0,395192564117,261861,1792403
0120,6080.0,6080.0,302530.0,301480.0,4936702926583,3399487,23836673
0121,2921.0,2921.0,150950.0,150950.0,2452746240182,1810893,12833936
...,...,...,...,...,...,...,...
89005888-1,1064.0,1064.0,51050.0,49050.0,817395519270,672034,4707759
890801339-8,6476048.0,57144.0,2625480.0,2598480.0,55066886669200,69252264,507014896
8962,1204.0,1204.0,62560.0,67510.0,1067966027414,843942,5910713
8A1262,4006.0,4006.0,201120.0,197720.0,3698321678295,3500882,25042994
900.776.044-9,480.0,480.0,21550.0,21800.0,422288180120,407840,2886380
900032380-6,16432.0,16432.0,840140.0,858240.0,15216299118697,11425851,80929026
900039285-6,672.0,672.0,30190.0,31240.0,588750652224,542752,3813908
900039285-6..,2808.0,2304.0,104790.0,105990.0,1783091100641,1342446,9322267
900078113-4.,252.0,252.0,13500.0,13500.0,215880084042,79254,531342
900078113-4..,288.0,288.0,12810.0,12960.0,253413708048,245544,1738548
900199896-1,416.0,416.0,17480.0,17680.0,337718544080,327280,2317168
900200450-4,528.0,528.0,26120.0,28970.0,503909016168,429432,2979720
900243805-1,1692.0,1692.0,105200.0,105250.0,1880227557713,1262656,9019681
900243857-2,3306.0,3306.0,142620.0,143220.0,2452406777136,1712726,12171908
900377407-7,2143.0,2143.0,96370.0,100320.0,1692164692445,1108687,7837379
900377407-7.,1807.0,1807.0,78810.0,82760.0,1446661908385,1040940,7375968
900384359-0,1554.0,1554.0,71230.0,83680.0,1230653244351,461388,3135519
900461651-7,1352.0,1352.0,64160.0,64560.0,1069343827318,886376,6195087
900461651-7.,616.0,616.0,31170.0,31170.0,478459975190,321132,2198547
900658002-4,672.0,672.0,34180.0,36930.0,578740228140,340788,2400460
900739150-4,12672.0,2304.0,144000.0,144000.0,1319002177088,564800,3784128
900779460-3,7244.0,7244.0,357010.0,357960.0,6117494259525,5622045,39878910
901001348-0,416.0,416.0,16600.0,16600.0,334521744080,263440,1810320
919,726.0,726.0,31060.0,31060.0,468747168186,332421,2280510
9639,8084.0,3412.0,182150.0,182150.0,2832693903205,1975469,13558760
98700660-1,1408.0,1408.0,83850.0,84450.0,1290086877328,149296,1011904
98700660-5,7596.0,5924.0,286400.0,286400.0,4638017386288,1186404,7979568
CC41,900.0,900.0,44450.0,44450.0,677040245345,475885,3266770
CHELA,1344.0,1344.0,70120.0,70120.0,1358352576312,1484032,10683312
CHMB,726.0,726.0,31060.0,31060.0,468742668186,332106,2278485

In [108]:
df.loc[df['CODCLI'] == '057']
#df_filtrado.groupby(['FECHAIOPE']).NROTICKC.nunique()

,NROFAVE,CODCLI,CODPP,CODOPE,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,NROTICKC,...,HORAIOPE,FECHAFOPE,HORAFOPE,IDPROTICKETS,FECHA,HORA,TIMESTAMP,TIMEIOPE,TIMEFOPE,TIMEDIF
0,PE00000001,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003201001,1,...,17:40:16,2016-01-29,16:48:41,1,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,0 days 23:08:25
1,PE00000001,057,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,1400.0,1400.0,10003202001,1,...,17:40:16,2016-01-29,16:48:41,2,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,0 days 23:08:25
2,PE00000001,057,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,450.0,450.0,10003203001,1,...,17:40:16,2016-01-29,16:48:41,3,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,0 days 23:08:25
3,PE00000001,057,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,1200.0,1200.0,10003204001,1,...,17:40:16,2016-01-29,16:48:41,4,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,0 days 23:08:25
4,PE00000001,057,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,200.0,200.0,10003205001,1,...,17:40:16,2016-01-29,16:48:41,5,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,0 days 23:08:25
5,PE00000001,057,CANOA CONFORT AL CORTE,ESTAMPADO,12.0,12.0,200.0,200.0,10003206001,1,...,17:40:16,2016-01-29,16:48:41,6,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,0 days 23:08:25
6,PE00000001,057,CANOA CONFORT AL CORTE,SELLOS,12.0,12.0,0.0,0.0,10003207001,1,...,17:40:16,2016-01-29,16:48:41,7,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,0 days 23:08:25
7,PE00000001,057,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,12.0,12.0,500.0,500.0,10003208001,1,...,17:40:16,2016-01-29,16:48:41,8,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,0 days 23:08:25
8,PE00000001,057,CANOA CONFORT AL CORTE,PLANTILLAS,12.0,12.0,0.0,0.0,10003209001,1,...,17:40:16,2016-01-29,16:48:41,9,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:16,2016-01-29 16:48:41,0 days 23:08:25
9,PE00000001,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003201002,2,...,17:40:11,2016-01-29,16:49:17,10,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17,0 days 23:09:06
10,PE00000001,057,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,1400.0,1400.0,10003202002,2,...,17:40:11,2016-01-29,16:49:17,11,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17,0 days 23:09:06
11,PE00000001,057,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,450.0,450.0,10003203002,2,...,17:40:11,2016-01-29,16:49:17,12,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17,0 days 23:09:06
12,PE00000001,057,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,1200.0,1200.0,10003204002,2,...,17:40:11,2016-01-29,16:49:17,13,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17,0 days 23:09:06
13,PE00000001,057,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,200.0,200.0,10003205002,2,...,17:40:11,2016-01-29,16:49:17,14,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17,0 days 23:09:06
14,PE00000001,057,CANOA CONFORT AL CORTE,ESTAMPADO,12.0,12.0,200.0,200.0,10003206002,2,...,17:40:11,2016-01-29,16:49:17,15,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17,0 days 23:09:06
15,PE00000001,057,CANOA CONFORT AL CORTE,SELLOS,12.0,12.0,0.0,0.0,10003207002,2,...,17:40:11,2016-01-29,16:49:17,16,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17,0 days 23:09:06
16,PE00000001,057,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,12.0,12.0,500.0,500.0,10003208002,2,...,17:40:11,2016-01-29,16:49:17,17,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17,0 days 23:09:06
17,PE00000001,057,CANOA CONFORT AL CORTE,PLANTILLAS,12.0,12.0,0.0,0.0,10003209002,2,...,17:40:11,2016-01-29,16:49:17,18,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:40:11,2016-01-29 16:49:17,0 days 23:09:06
18,PE00000001,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,10.0,10.0,400.0,400.0,10003201003,3,...,17:41:23,2016-01-29,16:46:58,19,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58,0 days 23:05:35
19,PE00000001,057,CANOA CONFORT AL CORTE,MONTADOR,10.0,10.0,1400.0,1400.0,10003202003,3,...,17:41:23,2016-01-29,16:46:58,20,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58,0 days 23:05:35
20,PE00000001,057,CANOA CONFORT AL CORTE,COSTURA,10.0,10.0,450.0,450.0,10003203003,3,...,17:41:23,2016-01-29,16:46:58,21,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58,0 days 23:05:35
21,PE00000001,057,CANOA CONFORT AL CORTE,ARMADO,10.0,10.0,1200.0,1200.0,10003204003,3,...,17:41:23,2016-01-29,16:46:58,22,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58,0 days 23:05:35
22,PE00000001,057,CANOA CONFORT AL CORTE,CORTADO,10.0,10.0,200.0,200.0,10003205003,3,...,17:41:23,2016-01-29,16:46:58,23,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58,0 days 23:05:35
23,PE00000001,057,CANOA CONFORT AL CORTE,ESTAMPADO,10.0,10.0,200.0,200.0,10003206003,3,...,17:41:23,2016-01-29,16:46:58,24,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58,0 days 23:05:35
24,PE00000001,057,CANOA CONFORT AL CORTE,SELLOS,10.0,10.0,0.0,0.0,10003207003,3,...,17:41:23,2016-01-29,16:46:58,25,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58,0 days 23:05:35
25,PE00000001,057,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,10.0,10.0,500.0,500.0,10003208003,3,...,17:41:23,2016-01-29,16:46:58,26,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58,0 days 23:05:35
26,PE00000001,057,CANOA CONFORT AL CORTE,PLANTILLAS,10.0,10.0,0.0,0.0,10003209003,3,...,17:41:23,2016-01-29,16:46:58,27,2016-01-25,11:04:00,2016-01-25 11:04:00,2016-01-28 17:41:23,2016-01-29 16:46:58,0 days 23:05:35
1383,PE00000040,057,PLANA AL CORTE,SUELAS,12.0,12.0,450.0,450.0,10012501007,178,...,NaN,2008-01-01,NaN,1384,2016-02-02,12:38:49,2016-02-02 12:38:49,NaT,NaT,NaT
1384,PE00000040,057,PLANA AL CORTE,EMPLANTILLADO,12.0,12.0,350.0,350.0,10012502007,178,...,NaN,2008-01-01,NaN,1385,2016-02-02,12:38:49,2016-02-02 12:38:49,NaT,NaT,NaT
1385,PE00000040,057,PLANA AL CORTE,MONTADOR,12.0,12.0,1300.0,1300.0,10012503007,178,...,NaN,2008-01-01,NaN,1386,2016-02-02,12:38:49,2016-02-02 12:38:49,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105596,PE00002084,057,PLANA HERRAJE 2017,COSTURA,12.0,12.0,520.0,520.0,10715503009,14377,...,NaN,2008-01-01,NaN,105606,2017-09-21,14:53:28,2017-09-21 14:53:28,NaT,NaT,NaT
105597,PE00002084,057,PLANA HERRAJE 2017,ARMADO,12.0,12.0,1350.0,1350.0,10715504009,14377,...,NaN,2008-01-01,NaN,105607,2017-09-21,14:53:29,2017-09-21 14:53:29,NaT,NaT,NaT
105598,PE00002084,057,PLANA HERRAJE 2017,CORTADO,12.0,12.0,400.0,400.0,10715505009,14377,...,NaN,2008-01-01,NaN,105608,2017-09-21,14:53:29,2017-09-21 14:53:29,NaT,NaT,NaT
105599,PE00002084,057,PLANA HERRAJE 2017,SUELAS,12.0,12.0,200.0,200.0,10715506009,14377,...,NaN,2008-01-01,NaN,105609,2017-09-21,14:53:29,2017-09-21 14:53:29,NaT,NaT,NaT
105600,PE00002084,057,PLANA HERRAJE 2017,LASER,12.0,12.0,0.0,0.0,10715507009,14377,...,NaN,2008-01-01,NaN,105610,2017-09-21,14:53:29,2017-09-21 14:53:29,NaT,NaT,NaT
105601,PE00002084,057,PLANA HERRAJE 2017,PLANTILLAS,12.0,12.0,0.0,0.0,10715508009,14377,...,NaN,2008-01-01,NaN,105611,2017-09-21,14:53:29,2017-09-21 14:53:29,NaT,NaT,NaT
110341,PE00002157,057,CANOA 2017,EMPLANTILLADO,16.0,16.0,400.0,400.0,10735601001,14946,...,20:31:41,2017-10-13,18:34:16,110351,2017-10-05,11:38:39,2017-10-05 11:38:39,2017-10-09 20:31:41,2017-10-13 18:34:16,3 days 22:02:35
110342,PE00002157,057,CANOA 2017,MONTADOR,16.0,16.0,1950.0,1950.0,10735602001,14946,...,20:31:41,2017-10-13,18:34:16,110352,2017-10-05,11:38:40,2017-10-05 11:38:40,2017-10-09 20:31:41,2017-10-13 18:34:16,3 days 22:02:35
110343,PE00002157,057,CANOA 2017,COSTURA,16.0,16.0,520.0,520.0,10735603001,14946,...,20:31:41,2017-10-13,18:34:16,110353,2017-10-05,11:38:40,2017-10-05 11:38:40,2017-10-09 20:31:41,2017-10-13 18:34:16,3 days 22:02:35
110344,PE00002157,057,CANOA 2017,ARMADO,16.0,16.0,1250.0,1250.0,10735604001,14946,...,20:31:41,2017-10-13,18:34:16,110354,2017-10-05,11:38:40,2017-10-05 11:38:40,2017-10-09 20:31:41,2017-10-13 18:34:16,3 days 22:02:35
110345,PE00002157,057,CANOA 2017,CORTADO,16.0,16.0,400.0,400.0,10735605001,14946,...,20:31:41,2017-10-13,18:34:16,110355,2017-10-05,11:38:40,2017-10-05 11:38:40,2017-10-09 20:31:41,2017-10-13 18:34:16,3 days 22:02:35
110346,PE00002157,057,CANOA 2017,PLANTILLAS,16.0,16.0,0.0,0.0,10735606001,14946,...,20:31:41,2017-10-13,18:34:16,110356,2017-10-05,11:38:40,2017-10-05 11:38:40,2017-10-09 20:31:41,2017-10-13 18:34:16,3 days 22:02:35
110347,PE00002157,057,CANOA 2017,FORRADO DE PLANTA,16.0,16.0,0.0,0.0,10735607001,14946,...,20:31:41,2017-10-13,18:34:16,110357,2017-10-05,11:38:40,2017-10-05 11:38:40,2017-10-09 20:31:41,2017-10-13 18:34:16,3 days 22:02:35
110348,PE00002157,057,CANOA 2017,BORDADO,16.0,16.0,0.0,0.0,10735608001,14946,...,20:31:41,2017-10-13,18:34:16,110358,2017-10-05,11:38:40,2017-10-05 11:38:40,2017-10-09 20:31:41,2017-10-13 18:34:16,3 days 22:02:35
110349,PE00002157,057,CANOA 2017,EMPLANTILLADO,12.0,12.0,400.0,400.0,10735601002,14947,...,20:31:38,2017-10-13,18:04:46,110359,2017-10-05,11:38:40,2017-10-05 11:38:40,2017-10-09 20:31:38,2017-10-13 18:04:46,3 days 21:33:08
110350,PE00002157,057,CANOA 2017,MONTADOR,12.0,12.0,1950.0,1950.0,10735602002,14947,...,20:31:38,2017-10-13,18:04:46,110360,2017-10-05,11:38:40,2017-10-05 11:38:40,2017-10-09 20:31:38,2017-10-13 18:04:46,3 days 21:33:08
110351,PE00002157,057,CANOA 2017,COSTURA,12.0,12.0,520.0,520.0,10735603002,14947,...,20:31:38,2017-10-13,18:04:46,110361,2017-10-05,11:38:41,2017-10-05 11:38:41,2017-10-09 20:31:38,2017-10-13 18:04:46,3 days 21:33:08
110352,PE00002157,057,CANOA 2017,ARMADO,12.0,12.0,1250.0,1250.0,10735604002,14947,...,20:31:38,2017-10-13,18:04:46,110362,2017-10-05,11:38:41,2017-10-05 11:38:41,2017-10-09 20:31:38,2017-10-13 18:04:46,3 days 21:33:08
110353,PE00002157,057,CANOA 2017,CORTADO,12.0,12.0,400.0,400.0,10735605002,14947,...,20:31:38,2017-10-13,18:04:46,110363,2017-10-05,11:38:41,2017-10-05 11:38:41,2017-10-09 20:31:38,2017-10-13 18:04:46,3 days 21:33:08
110354,PE00002157,057,CANOA 2017,PLANTILLAS,12.0,12.0,0.0,0.0,10735606002,14947,...,20:31:38,2017-10-13,18:04:46,110364,2017-10-05,11:38:41,2017-10-05 11:38:41,2017-10-09 20:31:38,2017-10-13 18:04:46,3 days 21:33:08
110355,PE00002157,057,CANOA 2017,FORRADO DE PLANTA,12.0,12.0,0.0,0.0,10735607002,14947,...,20:31:38,2017-10-13,18:04:46,110365,2017-10-05,11:38:41,2017-10-05 11:38:41,2017-10-09 20:31:38,2017-10-13 18:04:46,3 days 21:33:08
110356,PE00002157,057,CANOA 2017,BORDADO,12.0,12.0,0.0,0.0,10735608002,14947,...,20:31:38,2017-10-13,18:04:46,110366,2017-10-05,11:38:41,2017-10-05 11:38:41,2017-10-09 20:31:38,2017-10-13 18:04:46,3 days 21:33:08
110357,PE00002157,057,CANOA 2017,EMPLANTILLADO,8.0,8.0,400.0,400.0,10735601003,14948,...,20:31:35,2017-10-13,16:08:40,110367,2017-10-05,11:38:41,2017-10-05 11:38:41,2017-10-09 20:31:35,2017-10-13 16:08:40,3 days 19:37:05
110358,PE00002157,057,CANOA 2017,MONTADOR,8.0,8.0,1950.0,1950.0,10735602003,14948,...,20:31:35,2017-10-13,16:08:40,110368,2017-10-05,11:38:41,2017-10-05 11:38:41,2017-10-09 20:31:35,2017-10-13 16:08:40,3 days 19:37:05
110359,PE00002157,057,CANOA 2017,COSTURA,8.0,8.0,520.0,520.0,10735603003,14948,...,20:31:35,2017-10-13,16:08:40,110369,2017-10-05,11:38:41,2017-10-05 11:38:41,2017-10-09 20:31:35,2017-10-13 16:08:40,3 days 19:37:05
110360,PE00002157,057,CANOA 2017,ARMADO,8.0,8.0,1250.0,1250.0,10735604003,14948,...,20:31:35,2017-10-13,16:08:40,110370,2017-10-05,11:38:42,2017-10-05 11:38:42,2017-10-09 20:31:35,2017-10-13 16:08:40,3 days 19:37:05
110361,PE00002157,057,CANOA 2017,CORTADO,8.0,8.0,400.0,400.0,10735605003,14948,...,20:31:35,2017-10-13,16:08:40,110371,2017-10-05,11:38:42,2017-10-05 11:38:42,2017-10-09 20:31:35,2017-10-13 16:08:40,3 days 19:37:05
110362,PE00002157,057,CANOA 2017,PLANTILLAS,8.0,8.0,0.0,0.0,10735606003,14948,...,20:31:35,2017-10-13,16:08:40,110372,2017-10-05,11:38:42,2017-10-05 11:38:42,2017-10-09 20:31:35,2017-10-13 16:08:40,3 days 19:37:05
110363,PE00002157,057,CANOA 2017,FORRADO DE PLANTA,8.0,8.0,0.0,0.0,10735607003,14948,...,20:31:35,2017-10-13,16:08:40,110373,2017-10-05,11:38:42,2017-10-05 11:38:42,2017-10-09 20:31:35,2017-10-13 16:08:40,3 days 19:37:05
110364,PE00002157,057,CANOA 2017,BORDADO,8.0,8.0,0.0,0.0,10735608003,14948,...,20:31:35,2017-10-13,16:08:40,110374,2017-10-05,11:38:42,2017-10-05 11:38:42,2017-10-09 20:31:35,2017-10-13 16:08:40,3 days 19:37:05