In [13]:
## Getting data
!wget -O source.zip https://www.dropbox.com/s/dy8xyabnahh8onk/source.zip?dl=0
!unzip source.zip -d source

--2017-12-01 09:58:44--  https://www.dropbox.com/s/dy8xyabnahh8onk/source.zip?dl=0
Resolviendo www.dropbox.com (www.dropbox.com)... 162.125.5.1, 2620:100:601d:1::a27d:501
Conectando con www.dropbox.com (www.dropbox.com)[162.125.5.1]:443... conectado.
Petición HTTP enviada, esperando respuesta... 302 Found
Ubicación: https://dl.dropboxusercontent.com/content_link/7NjtGvkXuthKCTtz99NGE11ydSerSyDNMdnD3yaV6YiQFtOgA2uS1lZrSqnpcu1Y/file [siguiente]
--2017-12-01 09:58:45--  https://dl.dropboxusercontent.com/content_link/7NjtGvkXuthKCTtz99NGE11ydSerSyDNMdnD3yaV6YiQFtOgA2uS1lZrSqnpcu1Y/file
Resolviendo dl.dropboxusercontent.com (dl.dropboxusercontent.com)... 162.125.5.6, 2620:100:601d:6::a27d:506
Conectando con dl.dropboxusercontent.com (dl.dropboxusercontent.com)[162.125.5.6]:443... conectado.
Petición HTTP enviada, esperando respuesta... 200 OK
Longitud: 12141343 (12M) [application/zip]
Grabando a: “source.zip”

source.zip          100%[===================>]  11,58M   715KB/s    in 17s

2017-12-01 09:59:03 (700 KB/s) - “source.zip” guardado [12141343/12141343]

Archive:  source.zip
  inflating: source/almacenes.csv
  inflating: source/anticiposhotel.csv
  inflating: source/articulosbf.csv
  inflating: source/articulos.csv
  inflating: source/articulosda.csv
  inflating: source/asignaciondeduccion.csv
  inflating: source/bancos.csv
  inflating: source/bonosregalo.csv
  inflating: source/cantidadsinelaborar.csv
  inflating: source/capacidadoperaciones.csv
 extracting: source/caracteristicashabitacion.csv
  inflating: source/cargofijos.csv
  inflating: source/cargos.csv
  inflating: source/celulares.csv
 extracting: source/cencostos.csv
  inflating: source/chorario.csv
  inflating: source/ciudades.csv
 extracting: source/claseefectivo.csv
  inflating: source/clientes.csv
  inflating: source/comboscat.csv
  inflating: source/combos.csv
  inflating: source/consql.csv
  inflating: source/cree.csv
  inflating: source/ctasxcob.csv
  inflating: source/ctasxpag.csv
  inflating: source/cuentasbanco.csv
  inflating: source/cuentas.csv
  inflating: source/cuentasniif.csv
  inflating: source/depositos.csv
  inflating: source/descargamanualmateriaprima.csv
  inflating: source/descargamanualmateriaprimadetalle.csv
  inflating: source/detacont.csv
  inflating: source/detafacoa.csv
  inflating: source/detafaco.csv
  inflating: source/detafacoh.csv
  inflating: source/detafavea.csv
  inflating: source/detafave.csv
  inflating: source/detafaveh.csv
  inflating: source/detahotela.csv
  inflating: source/detahotel.csv
  inflating: source/detahotelh.csv
  inflating: source/detahotell.csv
  inflating: source/detahotels.csv
  inflating: source/detanomi.csv
  inflating: source/detareferenciaspersonalcomercial.csv
 extracting: source/diasfestivos.csv
 extracting: source/dimensiones.csv
  inflating: source/empresasoc.csv
  inflating: source/estados.csv
  inflating: source/estilos.csv
  inflating: source/gastos.csv
  inflating: source/grupos.csv
  inflating: source/gruposoperaciones.csv
  inflating: source/grupost.csv
  inflating: source/habitacionesh.csv
  inflating: source/ica.csv
  inflating: source/invpedproduccion.csv
  inflating: source/islr.csv
  inflating: source/iva.csv
  inflating: source/lineas.csv
  inflating: source/lotemaquila.csv
  inflating: source/maescc.csv
  inflating: source/maescont.csv
  inflating: source/maesfacoa.csv
  inflating: source/maesfaco.csv
  inflating: source/maesfacoh.csv
  inflating: source/maesfavea.csv
  inflating: source/maesfave.csv
  inflating: source/maesfaveh.csv
  inflating: source/maeshotel.csv
  inflating: source/maesnomi.csv
  inflating: source/mail.csv
  inflating: source/maquinarias.csv
  inflating: source/marcas.csv
  inflating: source/materiales.csv
  inflating: source/mesaspv.csv
  inflating: source/mnumeros.csv
 extracting: source/notaspv.csv
  inflating: source/numeros.csv
  inflating: source/operacionescif.csv
  inflating: source/operaciones.csv
  inflating: source/operacioneslineadeproduccion.csv
  inflating: source/paises.csv
  inflating: source/partidaspresupuestariasa.csv
  inflating: source/partidaspresupuestarias.csv
  inflating: source/partidaspresupuestariast.csv
  inflating: source/personalasignaciondeduccion.csv
  inflating: source/personal.csv
  inflating: source/personalprestamos.csv
 extracting: source/preciosdimensiones.csv
  inflating: source/preciosydimensiones.csv
  inflating: source/presupuestocostocif.csv
  inflating: source/presupuestocosto.csv
  inflating: source/presupuestocostooperacion.csv
  inflating: source/presupuestocostoseccion.csv
  inflating: source/procesos.csv
  inflating: source/procesosyoperacionescambios.csv
  inflating: source/procesosyoperaciones.csv
  inflating: source/producciongrupalcantidad.csv
  inflating: source/producciongrupal.csv
  inflating: source/producciongrupaloperacion.csv
  inflating: source/producciongrupalporcentaje.csv
 extracting: source/promociones.csv
  inflating: source/proveedores.csv
  inflating: source/recepcionparcialop.csv
  inflating: source/referencias.csv
  inflating: source/registrotareasproduccion.csv
  inflating: source/reportez.csv
  inflating: source/secciones.csv
  inflating: source/serialesa.csv
  inflating: source/seriales.csv
  inflating: source/serialesv.csv
  inflating: source/serviciosincluidos.csv
  inflating: source/serviciosincluidosdetalle.csv
  inflating: source/suboperaciones.csv
  inflating: source/tallas.csv
  inflating: source/tareasytickets.csv
  inflating: source/tareasyticketsh.csv
  inflating: source/tarifashabitacion.csv
  inflating: source/tipasientos.csv
  inflating: source/tipgastos.csv
 extracting: source/tiposhabitacion.csv
  inflating: source/tiposreservas.csv
  inflating: source/tipotransaccionesbanco.csv
  inflating: source/tmpdimensiones.csv
  inflating: source/tmpseriales.csv
  inflating: source/totseriales.csv
  inflating: source/transaccionescajaybancoscontab.csv
  inflating: source/transaccionescajaybancos.csv
 extracting: source/ubicaciongeograficahabitacion.csv
  inflating: source/unidades.csv
  inflating: source/usuarios.csv
  inflating: source/usuariosd.csv
  inflating: source/uvt.csv
  inflating: source/vales.csv
  inflating: source/zmsqactividad.csv
  inflating: source/zmsqetapacer.csv
  inflating: source/zmsqetapamet.csv
  inflating: source/zmsqfase.csv
  inflating: source/zmsqonp.csv
  inflating: source/zmsqproceso.csv
  inflating: source/zmsqsector.csv
  inflating: source/zmsqtic.csv
 extracting: source/zonas.csv

In [2]:
import pandas as pd

df = pd.read_csv('source/tareasytickets.csv')
df.head()

/home/miguel/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,24,29,205,221) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,NROFAVE,CODCLI,CODART,CODPP,CODOPE,CANVEN,CANOPE,CANOPESE,CANOPESEA,COSTOOPE,...,STATUSBT,STATUSDT,OBSTT,CHECKTT,FECHA,HORA,USUARIO,EQUIPO,MAC,IDFAVE
0,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,0.0,0.0,400.0,...,1,1,Fecha:29/01/2016\nHora:16:46:00\nUsuario:\nNom...,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
1,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,0.0,0.0,1400.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
2,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,0.0,0.0,450.0,...,1,1,Fecha:29/01/2016\nHora:18:29:31\nUsuario:\nNom...,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
3,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,0.0,0.0,1200.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
4,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,0.0,0.0,200.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162

In [96]:
df.ix[:10,:]

,NROFAVE,CODCLI,CODART,CODPP,CODOPE,CANVEN,CANOPE,CANOPESE,CANOPESEA,COSTOOPE,COSTOOPEC,TICKET,NROORDP,NROINV,FECINV,NROPLA,FECPLA,NROTICK,NROTICKC,FECHATICK,HORATICK,CODPER,FECHAITT,HORAITT,USUARIOITT,EQUIPOITT,MACITT,FECHAFTT,HORAFTT,USUARIOFTT,EQUIPOFTT,MACFTT,CODOPEPTT,FECHAPTT,HORAPTT,STATUSN,NRONOMI,FECHAIOPE,HORAIOPE,FECHAFOPE,HORAFOPE,NROFACT,FECFACT,STATUSF,CANTICKIMP,FECTICKIMP,FECRTICKIMP,IDPROTICKETS,TALLA00,TALLA01,TALLA02,TALLA03,TALLA04,TALLA05,TALLA06,TALLA07,TALLA08,TALLA09,TALLA10,TALLA11,TALLA12,TALLA13,TALLA14,TALLA15,TALLA16,TALLA17,TALLA18,TALLA19,TALLA20,TALLA21,TALLA22,TALLA23,TALLA24,TALLA25,TALLA26,TALLA27,TALLA28,TALLA29,TALLA30,TALLA31,TALLA32,TALLA33,TALLA34,TALLA35,TALLA36,TALLA37,TALLA38,TALLA39,TALLA40,TALLA41,TALLA42,TALLA43,TALLA44,TALLA45,TALLA46,TALLA47,TALLA48,TALLA49,TALLA50,TALLA51,TALLA52,TALLA53,TALLA54,TALLA55,TALLA56,CODART1,CANART1,CODART2,CANART2,CODART3,CANART3,CODART4,CANART4,CODART5,CANART5,CODART6,CANART6,CODART7,CANART7,CODART8,CANART8,CODART9,CANART9,CODART10,CANART10,CODART11,CANART11,CODART12,CANART12,CODART13,CANART13,CODART14,CANART14,CODART15,CANART15,CODART16,CANART16,CODART17,CANART17,CODART18,CANART18,CODART19,CANART19,CODART20,CANART20,TALLAISB1,TALLAISB2,TALLAISB3,TALLAISB4,TALLAISB5,TALLAISB6,TALLAISB7,TALLAISB8,TALLAISB9,TALLAISB10,TALLAISB11,TALLAISB12,TALLAISB13,TALLAISB14,TALLAISB15,TALLAISB16,TALLAISB17,TALLAISB18,TALLAISB19,TALLAISB20,PARTES1,PARTES2,PARTES3,PARTES4,PARTES5,PARTES6,PARTES7,PARTES8,PARTES9,PARTES10,PARTES11,PARTES12,PARTES13,PARTES14,PARTES15,PARTES16,PARTES17,PARTES18,PARTES19,PARTES20,PARTESP1,PARTESP2,PARTESP3,PARTESP4,PARTESP5,PARTESP6,PARTESP7,PARTESP8,PARTESP9,PARTESP10,PARTESP11,PARTESP12,PARTESP13,PARTESP14,PARTESP15,PARTESP16,PARTESP17,PARTESP18,PARTESP19,PARTESP20,DESNMAT1,DESNMAT2,DESNMAT3,DESNMAT4,MATERIALES,DESSER,DESDA,DESOPE,STATUSPT,STATUSTA,STATUSBT,STATUSDT,OBSTT,CHECKTT,FECHA,HORA,USUARIO,EQUIPO,MAC,IDFAVE
0,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,0.0,0.0,400.0,400.0,10003201001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25,11:04:13,G-02,2008-01-01,NaN,NaN,NaN,NaN,2016-01-29,16:48:41,NaN,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,21,2016-01-28,17:40:16,2016-01-29,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,3,3,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,Fecha:29/01/2016\nHora:16:46:00\nUsuario:\nNom...,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
1,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,0.0,0.0,1400.0,1400.0,10003202001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25,11:04:13,012,2008-01-01,NaN,NaN,NaN,NaN,2016-01-29,13:41:54,NaN,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,11,2016-01-28,17:40:16,2016-01-29,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,3,3,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
2,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,0.0,0.0,450.0,450.0,10003203001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25,11:04:13,005,2008-01-01,NaN,NaN,NaN,NaN,2016-01-29,18:29:57,NaN,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,9,2016-01-28,17:40:16,2016-01-29,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,3,3,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,Fecha:29/01/2016\nHora:18:29:31\nUsuario:\nNom...,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
3,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,0.0,0.0,1200.0,1200.0,10003204001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25,11:04:13,002,2016-01-29,18:46:26,NaN,Servidor-PC,NaN,2016-01-29,18:47:44,NaN,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,5,2016-01-28,17:40:16,2016-01-29,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,3,3,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
4,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,0.0,0.0,200.0,200.0,10003205001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25,11:04:13,003,2016-01-29,17:18:21,NaN,Servidor-PC,NaN,2016-01-30,12:33:02,NaN,Servidor-PC,NaN,CORTADO,2016-01-30,12:33:02,2,15,2016-01-28,17:40:16,2016-01-29,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,3,3,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
5,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,ESTAMPADO,12.0,12.0,0.0,0.0,200.0,200.0,10003206001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25,11:04:13,NaN,2008-01-01,NaN,NaN,NaN,NaN,2008-01-01,NaN,NaN,NaN,NaN,NaN,2008-01-01,NaN,1,0,2016-01-28,17:40:16,2016-01-29,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,3,3,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
6,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,SELLOS,12.0,12.0,0.0,0.0,0.0,0.0,10003207001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25,11:04:13,NaN,2008-01-01,NaN,NaN,NaN,NaN,2008-01-01,NaN,NaN,NaN,NaN,NaN,2008-01-01,NaN,1,0,2016-01-28,17:40:16,2016-01-29,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,3,3,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
7,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,12.0,12.0,0.0,0.0,500.0,500.0,10003208001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25,11:04:13,13717511,2008-01-01,NaN,NaN,NaN,NaN,2016-01-28,17:40:16,2015,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,4,2016-01-28,17:40:16,2016-01-29,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,3,3,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
8,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,PLANTILLAS,12.0,12.0,0.0,0.0,0.0,0.0,10003209001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25,11:04:13,NaN,2008-01-01,NaN,NaN,NaN,NaN,2008-01-01,NaN,NaN,NaN,NaN,NaN,2008-01-01,NaN,1,0,2016-01-28,17:40:16,2016-01-29,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,3,3,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
9,PE00000001,057,20614801010,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,0.0,0.0,400.0,400.0,10003201002,0,0,2008-01-01,0,2008-01-01,2,2,2016-01-25,11:04:16,G-02,2008-01-01,NaN,NaN,NaN,NaN,2016-01-29,16:49:17,NaN,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,21,2016-01-28,17:40:11,2016-01-29,16:49:17,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,3,3,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,Fecha:29/01/2016\nHora:16:46:29\nUsuario:\nNom...,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",163
10,PE00000001,057,20614801010,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,0.0,0.0,1400.0,1400.0,10003202002,0,0,2008-01-01,0,2008-01-01,2,2,2016-01-25,11:04:16,34,2008-01-01,NaN,NaN,NaN,NaN,2016-01-29,14:00:02,NaN,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,8,2016-01-28,17:40:11,2016-01-29,16:49:17,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,3,3,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",163

Agrupamos por Código de Operador buscando analizar la cantidad de transacciones por operador

In [54]:
df.groupby('CODOPE').count()

,NROFAVE,CODCLI,CODART,CODPP,CANVEN,CANOPE,CANOPESE,CANOPESEA,COSTOOPE,COSTOOPEC,...,STATUSBT,STATUSDT,OBSTT,CHECKTT,FECHA,HORA,USUARIO,EQUIPO,MAC,IDFAVE
CODOPE,,,,,,,,,,,,,,,,,,,,,
ARMADO,15263,15263,15913,15913,15913,15913,15913,15913,15913,15913,...,15913,15913,744,15913,15913,15913,452,15913,15913,15913
BORDADO,2325,2325,2327,2327,2327,2327,2327,2327,2327,2327,...,2327,2327,2,2327,2327,2327,45,2327,2327,2327
CONTROL PLANTA,294,294,294,294,294,294,294,294,294,294,...,294,294,0,294,294,294,0,294,294,294
CORTADO,15148,15148,15583,15583,15583,15583,15583,15583,15583,15583,...,15583,15583,785,15583,15583,15583,362,15583,15583,15583
COSTURA,15260,15260,15322,15322,15322,15322,15322,15322,15322,15322,...,15322,15322,66,15322,15322,15322,251,15322,15322,15322
DECORADO,709,709,709,709,709,709,709,709,709,709,...,709,709,0,709,709,709,56,709,709,709
EMPLANTILLADO,15210,15210,15562,15562,15562,15562,15562,15562,15562,15562,...,15562,15562,242,15562,15562,15562,343,15562,15562,15562
ESTAMPADO,677,677,677,677,677,677,677,677,677,677,...,677,677,0,677,677,677,0,677,677,677
FORRADO DE PLANTA,7818,7818,7838,7838,7838,7838,7838,7838,7838,7838,...,7838,7838,21,7838,7838,7838,30,7838,7838,7838
FORRADO DE PLANTILLAS,40,40,40,40,40,40,40,40,40,40,...,40,40,0,40,40,40,0,40,40,40
FORRADO DE TACONES,149,149,149,149,149,149,149,149,149,149,...,149,149,0,149,149,149,0,149,149,149
LASER,4288,4288,4288,4288,4288,4288,4288,4288,4288,4288,...,4288,4288,0,4288,4288,4288,140,4288,4288,4288
MONTADOR,15269,15269,15569,15569,15569,15569,15569,15569,15569,15569,...,15569,15569,384,15569,15569,15569,329,15569,15569,15569
PLANTILLAS,12387,12387,12419,12419,12419,12419,12419,12419,12419,12419,...,12419,12419,32,12419,12419,12419,243,12419,12419,12419
SELLOS,284,284,284,284,284,284,284,284,284,284,...,284,284,0,284,284,284,0,284,284,284
SUELAS,6839,6839,6854,6854,6854,6854,6854,6854,6854,6854,...,6854,6854,15,6854,6854,6854,218,6854,6854,6854

## Análisis de Columnas

In [141]:
# Profundidad de las filas
a,b = 0,10

# Decodificación de Columnas
CODCLI = 'Código de Cliente'
CODART = 'Código de Articulo'
CODOPE = 'Cantidad Vendida'
CANOPE = 'Cantidad Operada'
COSTOOPE = 'Costo Operacional'
FECHAIOPE = 'Fecha Inicio Operacion'
HORAIOPE = 'Horario Inicio Operación'
FECHAFOPE = 'Fecha Fin Operación'

In [132]:
df.ix[a:b,:10]

,NROFAVE,CODCLI,CODART,CODPP,CODOPE,CANVEN,CANOPE,CANOPESE,CANOPESEA,COSTOOPE
0,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,0.0,0.0,400.0
1,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,0.0,0.0,1400.0
2,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,0.0,0.0,450.0
3,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,0.0,0.0,1200.0
4,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,0.0,0.0,200.0
5,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,ESTAMPADO,12.0,12.0,0.0,0.0,200.0
6,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,SELLOS,12.0,12.0,0.0,0.0,0.0
7,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,12.0,12.0,0.0,0.0,500.0
8,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,PLANTILLAS,12.0,12.0,0.0,0.0,0.0
9,PE00000001,057,20614801010,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,0.0,0.0,400.0
10,PE00000001,057,20614801010,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,0.0,0.0,1400.0

**Columnas Relevantes: **
CODOPE, CANVEN, CANOPE, COSTOOPE

In [139]:
df.ix[a:b,10:20]

,COSTOOPEC,TICKET,NROORDP,NROINV,FECINV,NROPLA,FECPLA,NROTICK,NROTICKC,FECHATICK
0,400.0,10003201001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
1,1400.0,10003202001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
2,450.0,10003203001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
3,1200.0,10003204001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
4,200.0,10003205001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
5,200.0,10003206001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
6,0.0,10003207001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
7,500.0,10003208001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
8,0.0,10003209001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
9,400.0,10003201002,0,0,2008-01-01,0,2008-01-01,2,2,2016-01-25
10,1400.0,10003202002,0,0,2008-01-01,0,2008-01-01,2,2,2016-01-25

**Columnas Relevantes: **
COSTOOPEC, TICKET, NROTICK, FECHATICK

+ ¿Qué diferencia hay entre TICKET y NROTICKC?
+ ¿Porqué FECINV, FECPLA es diferente de FECHATICK?

In [142]:
df.ix[a:b,20:30]

,HORATICK,CODPER,FECHAITT,HORAITT,USUARIOITT,EQUIPOITT,MACITT,FECHAFTT,HORAFTT,USUARIOFTT
0,11:04:13,G-02,2008-01-01,NaN,NaN,NaN,NaN,2016-01-29,16:48:41,NaN
1,11:04:13,012,2008-01-01,NaN,NaN,NaN,NaN,2016-01-29,13:41:54,NaN
2,11:04:13,005,2008-01-01,NaN,NaN,NaN,NaN,2016-01-29,18:29:57,NaN
3,11:04:13,002,2016-01-29,18:46:26,NaN,Servidor-PC,NaN,2016-01-29,18:47:44,NaN
4,11:04:13,003,2016-01-29,17:18:21,NaN,Servidor-PC,NaN,2016-01-30,12:33:02,NaN
5,11:04:13,NaN,2008-01-01,NaN,NaN,NaN,NaN,2008-01-01,NaN,NaN
6,11:04:13,NaN,2008-01-01,NaN,NaN,NaN,NaN,2008-01-01,NaN,NaN
7,11:04:13,13717511,2008-01-01,NaN,NaN,NaN,NaN,2016-01-28,17:40:16,2015
8,11:04:13,NaN,2008-01-01,NaN,NaN,NaN,NaN,2008-01-01,NaN,NaN
9,11:04:16,G-02,2008-01-01,NaN,NaN,NaN,NaN,2016-01-29,16:49:17,NaN
10,11:04:16,34,2008-01-01,NaN,NaN,NaN,NaN,2016-01-29,14:00:02,NaN

In [135]:
df.ix[a:b,30:40]

,EQUIPOFTT,MACFTT,CODOPEPTT,FECHAPTT,HORAPTT,STATUSN,NRONOMI,FECHAIOPE,HORAIOPE,FECHAFOPE
0,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,21,2016-01-28,17:40:16,2016-01-29
1,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,11,2016-01-28,17:40:16,2016-01-29
2,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,9,2016-01-28,17:40:16,2016-01-29
3,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,5,2016-01-28,17:40:16,2016-01-29
4,Servidor-PC,NaN,CORTADO,2016-01-30,12:33:02,2,15,2016-01-28,17:40:16,2016-01-29
5,NaN,NaN,NaN,2008-01-01,NaN,1,0,2016-01-28,17:40:16,2016-01-29
6,NaN,NaN,NaN,2008-01-01,NaN,1,0,2016-01-28,17:40:16,2016-01-29
7,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,4,2016-01-28,17:40:16,2016-01-29
8,NaN,NaN,NaN,2008-01-01,NaN,1,0,2016-01-28,17:40:16,2016-01-29
9,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,21,2016-01-28,17:40:11,2016-01-29
10,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,8,2016-01-28,17:40:11,2016-01-29

In [136]:
df.ix[a:b,40:50]

,HORAFOPE,NROFACT,FECFACT,STATUSF,CANTICKIMP,FECTICKIMP,FECRTICKIMP,IDPROTICKETS,TALLA00,TALLA01
0,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,1,0,0
1,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,2,0,0
2,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,3,0,0
3,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,4,0,0
4,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,5,0,0
5,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,6,0,0
6,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,7,0,0
7,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,8,0,0
8,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,9,0,0
9,16:49:17,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,10,0,0
10,16:49:17,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,11,0,0

In [79]:
df.ix[a:b,50:60]

,TALLA02,TALLA03,TALLA04,TALLA05,TALLA06,TALLA07,TALLA08,TALLA09,TALLA10,TALLA11
0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0

In [99]:
df.ix[a:b,60:70]

,TALLA12,TALLA13,TALLA14,TALLA15,TALLA16,TALLA17,TALLA18,TALLA19,TALLA20,TALLA21
0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0

In [100]:
df.ix[a:b,70:80]

,TALLA22,TALLA23,TALLA24,TALLA25,TALLA26,TALLA27,TALLA28,TALLA29,TALLA30,TALLA31
0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0

In [101]:
df.ix[a:b,90:100]

,TALLA42,TALLA43,TALLA44,TALLA45,TALLA46,TALLA47,TALLA48,TALLA49,TALLA50,TALLA51
0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0

In [102]:
df.ix[a:b,100:110]

,TALLA52,TALLA53,TALLA54,TALLA55,TALLA56,CODART1,CANART1,CODART2,CANART2,CODART3
0,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
1,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
2,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
3,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
4,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
5,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
6,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
7,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
8,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
9,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
10,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN

In [103]:
df.ix[a:b,110:120]

,CANART3,CODART4,CANART4,CODART5,CANART5,CODART6,CANART6,CODART7,CANART7,CODART8
0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
1,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
2,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
3,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
4,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
5,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
6,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
7,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
8,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
9,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
10,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN

In [104]:
df.ix[a:b,120:130]

,CANART8,CODART9,CANART9,CODART10,CANART10,CODART11,CANART11,CODART12,CANART12,CODART13
0,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN
1,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN
2,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN
3,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN
4,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN
5,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
6,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
7,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN
8,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
9,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
10,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN

In [105]:
df.ix[a:b,130:140]

,CANART13,CODART14,CANART14,CODART15,CANART15,CODART16,CANART16,CODART17,CANART17,CODART18
0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
1,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
2,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
3,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
4,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
5,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
6,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
7,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
8,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
9,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
10,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN

In [106]:
df.ix[a:b,140:150]

,CANART18,CODART19,CANART19,CODART20,CANART20,TALLAISB1,TALLAISB2,TALLAISB3,TALLAISB4,TALLAISB5
0,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
1,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
2,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
3,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
4,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
5,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
6,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
7,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
8,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
9,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
10,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1

In [107]:
df.ix[a:b,150:160]

,TALLAISB6,TALLAISB7,TALLAISB8,TALLAISB9,TALLAISB10,TALLAISB11,TALLAISB12,TALLAISB13,TALLAISB14,TALLAISB15
0,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1
5,1,1,1,1,1,1,1,1,1,1
6,1,1,1,1,1,1,1,1,1,1
7,1,1,1,1,1,1,1,1,1,1
8,1,1,1,1,1,1,1,1,1,1
9,1,1,1,1,1,1,1,1,1,1
10,1,1,1,1,1,1,1,1,1,1

In [108]:
df.ix[a:b,160:170]

,TALLAISB16,TALLAISB17,TALLAISB18,TALLAISB19,TALLAISB20,PARTES1,PARTES2,PARTES3,PARTES4,PARTES5
0,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
2,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
3,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
4,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
5,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
6,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
7,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
8,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
9,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
10,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN

In [109]:
df.ix[a:b,170:180]

,PARTES6,PARTES7,PARTES8,PARTES9,PARTES10,PARTES11,PARTES12,PARTES13,PARTES14,PARTES15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
df.ix[a:b,180:190]

,PARTES16,PARTES17,PARTES18,PARTES19,PARTES20,PARTESP1,PARTESP2,PARTESP3,PARTESP4,PARTESP5
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
df.ix[a:b,190:200]

,PARTESP6,PARTESP7,PARTESP8,PARTESP9,PARTESP10,PARTESP11,PARTESP12,PARTESP13,PARTESP14,PARTESP15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
df.ix[a:b,200:210]

,PARTESP16,PARTESP17,PARTESP18,PARTESP19,PARTESP20,DESNMAT1,DESNMAT2,DESNMAT3,DESNMAT4,MATERIALES
0,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN

In [113]:
df.ix[a:b,220:225]

,HORA,USUARIO,EQUIPO,MAC,IDFAVE
0,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
1,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
2,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
3,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
4,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
5,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
6,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
7,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
8,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
9,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",163
10,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",163

In [25]:
df[[column for column in df.columns if 'HORA' in column]]

        HORATICK   HORAITT   HORAFTT   HORAPTT  HORAIOPE  HORAFOPE      HORA
0       11:04:13       NaN  16:48:41       NaN  17:40:16  16:48:41  11:04:00
1       11:04:13       NaN  13:41:54       NaN  17:40:16  16:48:41  11:04:00
2       11:04:13       NaN  18:29:57       NaN  17:40:16  16:48:41  11:04:00
3       11:04:13  18:46:26  18:47:44       NaN  17:40:16  16:48:41  11:04:00
4       11:04:13  17:18:21  12:33:02  12:33:02  17:40:16  16:48:41  11:04:00
5       11:04:13       NaN       NaN       NaN  17:40:16  16:48:41  11:04:00
6       11:04:13       NaN       NaN       NaN  17:40:16  16:48:41  11:04:00
7       11:04:13       NaN  17:40:16       NaN  17:40:16  16:48:41  11:04:00
8       11:04:13       NaN       NaN       NaN  17:40:16  16:48:41  11:04:00
9       11:04:16       NaN  16:49:17       NaN  17:40:11  16:49:17  11:04:00
10      11:04:16       NaN  14:00:02       NaN  17:40:11  16:49:17  11:04:00
11      11:04:16       NaN  18:29:43       NaN  17:40:11  16:49:17  11:04:00
12      11:04:16  18:46:31  18:47:40       NaN  17:40:11  16:49:17  11:04:00
13      11:04:16  17:18:24  12:33:04  12:33:04  17:40:11  16:49:17  11:04:00
14      11:04:16       NaN       NaN       NaN  17:40:11  16:49:17  11:04:00
15      11:04:16       NaN       NaN       NaN  17:40:11  16:49:17  11:04:00
16      11:04:16       NaN  17:40:11       NaN  17:40:11  16:49:17  11:04:00
17      11:04:16       NaN       NaN       NaN  17:40:11  16:49:17  11:04:00
18      11:04:17       NaN  16:46:58       NaN  17:41:23  16:46:58  11:04:00
19      11:04:17       NaN  13:42:07       NaN  17:41:23  16:46:58  11:04:00
20      11:04:17       NaN  18:28:46       NaN  17:41:23  16:46:58  11:04:00
21      11:04:17  11:37:08  12:49:22  12:49:22  17:41:23  16:46:58  11:04:00
22      11:04:17  17:19:03  12:33:23       NaN  17:41:23  16:46:58  11:04:00
23      11:04:17       NaN       NaN       NaN  17:41:23  16:46:58  11:04:00
24      11:04:17       NaN       NaN       NaN  17:41:23  16:46:58  11:04:00
25      11:04:17       NaN  17:41:23       NaN  17:41:23  16:46:58  11:04:00
26      11:04:17       NaN       NaN       NaN  17:41:23  16:46:58  11:04:00
27      11:05:12       NaN  16:47:55       NaN  17:38:49  16:47:55  11:04:32
28      11:05:12       NaN  10:50:37       NaN  17:38:49  16:47:55  11:04:32
29      11:05:12       NaN  18:29:46       NaN  17:38:49  16:47:55  11:04:32
...          ...       ...       ...       ...       ...       ...       ...
113798  15:10:20       NaN       NaN       NaN       NaN       NaN  15:10:10
113799  15:10:20       NaN       NaN       NaN       NaN       NaN  15:10:10
113800  15:10:20       NaN       NaN       NaN       NaN       NaN  15:10:10
113801  15:10:20       NaN       NaN       NaN       NaN       NaN  15:10:10
113802  15:10:20       NaN       NaN       NaN       NaN       NaN  15:10:10
113803  15:10:20       NaN       NaN       NaN       NaN       NaN  15:10:10
113804  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:10
113805  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:10
113806  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:10
113807  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:11
113808  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:11
113809  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:11
113810  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:11
113811  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:11
113812  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:11
113813  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:11
113814  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:11
113815  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:11
113816  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:12
113817  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:12
113818  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:12
113819  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:12
113820  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:12
113821  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:12
113822  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:12
113823  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:12
113824  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:13
113825  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:13
113826  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:13
113827  15:10:19       NaN       NaN       NaN       NaN       NaN  15:10:13

[113828 rows x 7 columns]

In [24]:
df[[column for column in df.columns if 'FECHA' in column]]

,FECHATICK,FECHAITT,FECHAFTT,FECHAPTT,FECHAIOPE,FECHAFOPE,FECHA
0,2016-01-25,2008-01-01,2016-01-29,2008-01-01,2016-01-28,2016-01-29,2016-01-25
1,2016-01-25,2008-01-01,2016-01-29,2008-01-01,2016-01-28,2016-01-29,2016-01-25
2,2016-01-25,2008-01-01,2016-01-29,2008-01-01,2016-01-28,2016-01-29,2016-01-25
3,2016-01-25,2016-01-29,2016-01-29,2008-01-01,2016-01-28,2016-01-29,2016-01-25
4,2016-01-25,2016-01-29,2016-01-30,2016-01-30,2016-01-28,2016-01-29,2016-01-25
5,2016-01-25,2008-01-01,2008-01-01,2008-01-01,2016-01-28,2016-01-29,2016-01-25
6,2016-01-25,2008-01-01,2008-01-01,2008-01-01,2016-01-28,2016-01-29,2016-01-25
7,2016-01-25,2008-01-01,2016-01-28,2008-01-01,2016-01-28,2016-01-29,2016-01-25
8,2016-01-25,2008-01-01,2008-01-01,2008-01-01,2016-01-28,2016-01-29,2016-01-25
9,2016-01-25,2008-01-01,2016-01-29,2008-01-01,2016-01-28,2016-01-29,2016-01-25
10,2016-01-25,2008-01-01,2016-01-29,2008-01-01,2016-01-28,2016-01-29,2016-01-25
11,2016-01-25,2008-01-01,2016-01-29,2008-01-01,2016-01-28,2016-01-29,2016-01-25
12,2016-01-25,2016-01-29,2016-01-29,2008-01-01,2016-01-28,2016-01-29,2016-01-25
13,2016-01-25,2016-01-29,2016-01-30,2016-01-30,2016-01-28,2016-01-29,2016-01-25
14,2016-01-25,2008-01-01,2008-01-01,2008-01-01,2016-01-28,2016-01-29,2016-01-25
15,2016-01-25,2008-01-01,2008-01-01,2008-01-01,2016-01-28,2016-01-29,2016-01-25
16,2016-01-25,2008-01-01,2016-01-28,2008-01-01,2016-01-28,2016-01-29,2016-01-25
17,2016-01-25,2008-01-01,2008-01-01,2008-01-01,2016-01-28,2016-01-29,2016-01-25
18,2016-01-25,2008-01-01,2016-01-29,2008-01-01,2016-01-28,2016-01-29,2016-01-25
19,2016-01-25,2008-01-01,2016-01-29,2008-01-01,2016-01-28,2016-01-29,2016-01-25
20,2016-01-25,2008-01-01,2016-01-29,2008-01-01,2016-01-28,2016-01-29,2016-01-25
21,2016-01-25,2016-01-30,2016-01-30,2016-01-30,2016-01-28,2016-01-29,2016-01-25
22,2016-01-25,2016-01-29,2016-01-30,2008-01-01,2016-01-28,2016-01-29,2016-01-25
23,2016-01-25,2008-01-01,2008-01-01,2008-01-01,2016-01-28,2016-01-29,2016-01-25
24,2016-01-25,2008-01-01,2008-01-01,2008-01-01,2016-01-28,2016-01-29,2016-01-25
25,2016-01-25,2008-01-01,2016-01-28,2008-01-01,2016-01-28,2016-01-29,2016-01-25
26,2016-01-25,2008-01-01,2008-01-01,2008-01-01,2016-01-28,2016-01-29,2016-01-25
27,2016-01-25,2008-01-01,2016-01-29,2008-01-01,2016-01-28,2016-01-29,2016-01-25
28,2016-01-25,2008-01-01,2016-01-30,2008-01-01,2016-01-28,2016-01-29,2016-01-25
29,2016-01-25,2008-01-01,2016-01-29,2008-01-01,2016-01-28,2016-01-29,2016-01-25
...,...,...,...,...,...,...,...
113798,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113799,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113800,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113801,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113802,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113803,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113804,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113805,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113806,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113807,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113808,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113809,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113810,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113811,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113812,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113813,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113814,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113815,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113816,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113817,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113818,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113819,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113820,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113821,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113822,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113823,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113824,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113825,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113826,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13
113827,2017-10-13,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2017-10-13

In [40]:
pd.DataFrame(df.columns)[:60]

               0
0        NROFAVE
1         CODCLI
2         CODART
3          CODPP
4         CODOPE
5         CANVEN
6         CANOPE
7       CANOPESE
8      CANOPESEA
9       COSTOOPE
10     COSTOOPEC
11        TICKET
12       NROORDP
13        NROINV
14        FECINV
15        NROPLA
16        FECPLA
17       NROTICK
18      NROTICKC
19     FECHATICK
20      HORATICK
21        CODPER
22      FECHAITT
23       HORAITT
24    USUARIOITT
25     EQUIPOITT
26        MACITT
27      FECHAFTT
28       HORAFTT
29    USUARIOFTT
30     EQUIPOFTT
31        MACFTT
32     CODOPEPTT
33      FECHAPTT
34       HORAPTT
35       STATUSN
36       NRONOMI
37     FECHAIOPE
38      HORAIOPE
39     FECHAFOPE
40      HORAFOPE
41       NROFACT
42       FECFACT
43       STATUSF
44    CANTICKIMP
45    FECTICKIMP
46   FECRTICKIMP
47  IDPROTICKETS
48       TALLA00
49       TALLA01
50       TALLA02
51       TALLA03
52       TALLA04
53       TALLA05
54       TALLA06
55       TALLA07
56       TALLA08
57       TALLA09
58       TALLA10
59       TALLA11